footer.footer
  .container.container--fluid
    .footer__menu
      a(href='#') О салоне
      a(href='#') Услуги
      a(href='#') Галерея
      a(href='#') Эскизы
      a(href='#') отзывы
      a(href='#') Цены
      a(href='#') обучение
      a(href='#') Контакты
  .container.container--full.container--no-pad
    .footer__wrapper
      .footer__contacts
        .footer__contact
          i.ico.ico-location 
          span Москва, Кутузовский пр-т, 27
        .footer__contact
          i.ico.ico-phone
          a(href='tel:') 8 (495) 123 45 67
        .footer__contact
          i.ico.ico-email
          a(href='mailto:info@tattooz.ru') info@tattooz.ru
        .footer__contact.footer__contact--no-ico
          span Режим Работы: <br> Ежедневно с 10:00 до 22:00
        .footer__links
          a(href='#').hoverable-link Запись онлайн
          a(href='#').hoverable-link Цена онлайн
        .footer__icons
          .text-socials
            a(href='#')
              i.ico.ico-social-vk
            a(href='#')
              i.ico.ico-social-fb    
            a(href='#')
              i.ico.ico-social-insta
          a(href='#' target='_blank').footer__developer
            span Made in
            i.ico.ico-developer-logo
        
        .footer__copy © Все права защищены, «Медик Лайн» 2011
        a(href='#' target='_blank').footer__developer.footer__developer--mobile
          span Made in
          i.ico.ico-developer-logo
        i.ico.ico-18plus
              
      .footer__maps
        #yaMap
      
