

// SECONDARY STYLES
//build:css css/secondary.css
link(rel="stylesheet" href="css/secondary.css" type="text/css")
//endbuild

// SCRIPTS

//build:js js/scripts.min.js
script(src="components/jquery/dist/jquery.min.js")
script(src="components/magnific-popup/dist/jquery.magnific-popup.min.js")
script(src="components/slick-carousel/slick/slick.min.js")
script(src="components/masonry/dist/masonry.pkgd.min.js")  
script(src="js/libs/jquery.maskedinput.min.js")
script(src="components/jquery-validation/dist/jquery.validate.min.js")
script(src="js/libs/scrollify.js")
script(src="js/main.js")
//endbuild
