// HEADER::START
header.header
  .container.container--fluid
    .header__wrapper
      a(href='#')
        i.ico.ico-logo
      .header__contacts
        .header__contact
          i.ico.ico-location 
          span Москва, Кутузовский пр-т, 27
        .header__contact
          i.ico.ico-phone
          a(href='tel:') 8 (495) 123 45 67
          
      .header__menu
        a(href='#modalOrder').btn.btn--primary.popup-with-zoom-anim Записаться <br> к мастеру
        .header__hamburger.js-main-hamb
          button.hamburger.hamburger--squeeze(type='button')
            span.hamburger-box
              span.hamburger-inner
          .header__hamburger__name Меню

      
