// HEADER::START
header.header
  .container.container--fluid
    .header__wrapper
      a(href='#')
        i.ico.ico-logo
      .header__menu
        a(href='#').btn.btn--primary Записаться <br> к мастеру
        .header__hamburger.js-main-hamb
          button.hamburger.hamburger--squeeze(type='button')
            span.hamburger-box
              span.hamburger-inner
          .header__hamburger__name Меню
