// HEADER::START
header.header
  .container.container--fluid
    .header__wrapper
      a(href='#')
        i.ico.ico-logo
      .header__contacts
        .header__contact
          i.ico.ico-location 
          span Москва, Кутузовский пр-т, 27
        .header__contact
          i.ico.ico-phone
          a(href='tel:') 8 (495) 123 45 67
          
      .header__menu
        a(href='#modalOrder').btn.btn--primary.popup-with-zoom-anim Записаться <br> к мастеру
        .header__hamburger.js-main-hamb
          button.hamburger.hamburger--squeeze(type='button')
            span.hamburger-box
              span.hamburger-inner
          .header__hamburger__name Меню

.about-logo-overlay
  .text-page
    .container.container--narrow
      .text-page__wrapper
        .text-center
          p Тату салон Perpetuum Tattoo начал свою историю в 1996 году.
          p Большой путь пройден с тех пор, менялись тенденции, направления и стили художественной татуировки, менялись технологии, совершенствовалось оборудование в тату индустрии, появлялись новые пигменты и препараты для татуажа.
          p Мода на трайбалы сменялась модой на иероглифы, в свою очередь, уступая место этническим мотивам, и только неизменным оставалась наша любовь к этому искусству, к этому магическому, завораживающему ритуалу инициации – обретению себя, рождению нового Я, с помощью нательной живописи.
  
  
      
