
// MENU
navi.navi
  .navi__wrapper
    ul.navi__list
      li
        a(href='#') О салоне
      li
        a(href='#') Услуги
      li
        a(href='#') Галерея
        ul
          li
            a(href='#') Татуировки
          li
            a(href='#') татуаж
          li
            a(href='#') кавер-ап
          li
            a(href='#') Тату на шрамах
          li
            a(href='#') пирсинг
                
      li
        a(href='#') Эскизы  
      li
        a(href='#') Отзывы
      li
        a(href='#') Цены
      li
        a(href='#') Обучение
      li
        a(href='#') Контакты
    
    .navi__contacts
      #yaMapContact
      .navi__contacts__body
        .header__contact
          i.ico.ico-location 
          span Москва, Кутузовский пр-т, 27
        .header__contact
          i.ico.ico-phone
          a(href='tel:') 8 (495) 123 45 67
        
      .navi__contacts__socials
        a(href='#')
          i.ico.ico-social-vk
        a(href='#')
          i.ico.ico-social-fb    
        a(href='#')
          i.ico.ico-social-insta
            
  .mobile-cta-line
    a(href='#modalOrder').btn.btn--primary.btn--rounded.popup-with-zoom-anim Записаться <br> к мастеру
    a(href='#').btn.btn--circle
      i.ici.ico-location
    a(href='#').btn.btn--circle
      i.ici.ico-phone
