// MODALS
.modal.zoom-anim-dialog.mfp-hide#modalOrder
  .modal__title Записаться к мастеру

  .modal__slider
    .modal__slide
      .modal__slide__subject
        i.ico.ico-nav-arrow
        span На татуировку
        i.ico.ico-nav-arrow.ico-nav-arrow--right
    .modal__slide
      .modal__slide__subject  
        i.ico.ico-nav-arrow
        span На татуаж
        i.ico.ico-nav-arrow.ico-nav-arrow--right
        
  form(action="#").js-entry-form
    .row
      .col.col--3-6
        .ui-input.ui-input--icon.ui-input--user
          input(type='text' placeholder='Ваше имя' name='name') 
      .col.col--3-6
        .ui-input.ui-input--icon.ui-input--mobile
          input(type='text' placeholder='Телефон' name='phone' data-mask="0 (000) 000-00-00") 

    .ui-input.ui-input--icon.ui-input--email
      input(type='email' placeholder='Ваш email' name='email') 

    .row
      .col.col--3-6
        .ui-input.ui-input--icon.ui-input--calendar
          input(type='text' placeholder='Дата' name='date').js-datepciker
      .col.col--3-6
        .ui-input.ui-input--icon.ui-input--time
          input(type='text' placeholder='Время' name='time' data-mask="00:00 - 00:00")
    
    .ui-input.ui-input--icon.ui-input--comment
      textarea(placeholder='Комментарии' rows='3' name='comment')
    
    .modal__cta
      .ui-file
        input(type='file' data-multiple-caption='выбрано {count} файлов', multiple='')
        .ui-file__btn
          span Прикрепить файл
          i.ico.ico-add-attachment
      button(type='submit').btn.btn--ghost.btn--ghost--fill Записаться


// GET PRICE
.modal.zoom-anim-dialog.mfp-hide#modalGetPrice
  .modal__title Узнать стоимость эскиза
  form(action="#").js-getprice-form.mt30
    .row
      .col.col--3-6
        .ui-input.ui-input--icon.ui-input--user
          input(type='text' placeholder='Ваше имя' name='name') 
      .col.col--3-6
        .ui-input.ui-input--icon.ui-input--mobile
          input(type='text' placeholder='Телефон' name='phone' data-mask="0 (000) 000-00-00") 

    .ui-input.ui-input--icon.ui-input--email
      input(type='email' placeholder='Ваш email' name='email') 

    .row
      .col.col--3-6
        .ui-input.ui-input--icon.ui-input--calendar
          input(type='text' placeholder='Дата' name='date').js-datepciker
      .col.col--3-6
        .ui-input.ui-input--icon.ui-input--time
          input(type='text' placeholder='Время' name='time' data-mask="00:00 - 00:00")
    
    .ui-input.ui-input--icon.ui-input--comment
      textarea(placeholder='Комментарии' rows='3' name='comment')
    
    .modal__cta
      button(type='submit').btn.btn--ghost.btn--ghost--fill Записаться


// Feedback
.modal.zoom-anim-dialog.mfp-hide#modalFeedback
  .modal__title Оставить отзыв
  form(action="#").js-getprice-form.mt30
    .row
      .col.col--3-6
        .ui-input.ui-input--icon.ui-input--user
          input(type='text' placeholder='Ваше имя' name='name') 
      .col.col--3-6
        .ui-input.ui-input--icon.ui-input--mobile
          input(type='text' placeholder='Телефон' name='phone' data-mask="0 (000) 000-00-00") 

    .ui-input.ui-input--icon.ui-input--email
      input(type='email' placeholder='Ваш email' name='email') 

    .ui-input.ui-input--icon.ui-input--comment
      textarea(placeholder='Отзыв' rows='3' name='comment')
    
    .modal__cta
      .ui-file
        input(type='file' data-multiple-caption='выбрано {count} файлов', multiple='')
        .ui-file__btn
          span Прикрепить фото
          i.ico.ico-add-attachment
      button(type='submit').btn.btn--ghost.btn--ghost--fill Записаться
