// PROMO BLOCK
.promo-block
  .container.container--1280
    .promo-block__description
      .promo-block__title Получи купон на скидку
      .promo-block__counter
        .promo-block__counter__content
          .promo-block__counter__title Осталось промо-кодов:
          .promo-block__counter__subtitle Предложение ограничено!
        .text-triangle.text-triangle--dark
          span
            span 14
          
    form.promo-block__form(action='#')
      .ui-input.ui-input--icon.ui-input--user
        input(type='text' placeholder='Ваше имя' name='name') 
      .ui-input.ui-input--icon.ui-input--email
        input(type='email' placeholder='Ваш email' name='email')   
      .ui-input.ui-input--icon.ui-input--mobile
        input(type='text' placeholder='Телефон' name='phone' data-mask="0 (000) 000-00-00") 

      button(type='submit').btn.btn--black Получить купон 
