// SECONDARY STYLES
//build:css css/secondary.css
link(rel="stylesheet" href="css/secondary.css" type="text/css")
//endbuild

// SCRIPTS
script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU', type='text/javascript')

//build:js js/scripts.min.js
script(src="components/jquery/dist/jquery.min.js")
script(src="components/magnific-popup/dist/jquery.magnific-popup.min.js")
script(src="components/slick-carousel/slick/slick.min.js")
script(src="components/masonry/dist/masonry.pkgd.min.js")
script(src="components/isotope/dist/isotope.pkgd.min.js")
script(src="components/isotope-masonry-horizontal/masonry-horizontal.js")
script(src="components/isotope-packery/packery-mode.pkgd.min.js") 
script(src="components/jquery-mask-plugin/dist/jquery.mask.min.js")
script(src="components/jquery-validation/dist/jquery.validate.min.js")
script(src="components/air-datepicker/dist/js/datepicker.min.js")
script(src="js/libs/scrollify.js")
script(src="js/libs/scrollbar.js")
script(src="js/constructor.js")
script(src="js/main.js")
script(src="js/ui.js")
script(src="js/maps.js")
//endbuild
