@keyframes scrolldown
  0%
    transform: translate3d(0,0,0)
  25%
    transform: translate3d(0,7px,0)
  80%
    transform: translate3d(0,7px,0)
  100%
    transform: translate3d(0,0,0)

@keyframes scrolldown2
  0%
    opacity: 1
    transform: translate3d(0,0,0)
  50%
    opacity: 0
    transform: translate3d(0,16px,0)
  100%
    opacity: 1
    transform: translate3d(0,0,0)
