doctype html
<!--[if IE 8]>         <html class="ie8 oldie"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 oldie"> <![endif]-->
<!--[if gt IE 9]><!--> <html class=""> <!--<![endif]-->
  include shared/head.pug

  body
    include shared/header-static.pug
    include shared/menu.pug
    
    .page.page--gallery
      .container.container--1280
        .section-title Галерея            
        .breadcrumbs
          a(href='#') Главная
          a(href='#') Галерея
          
        // filter main
        .images-category
          .images-category__item Татуировка
          .images-category__item Исправление
          .images-category__item Пирсинг
          .images-category__item Татуаж
          .images-category__item Био-тату
          
        // filter
        .images-filter
          .images-filter__title Стиль
          .images-filter__content
            .images-filter__item Традишнл
            .images-filter__item Био-механика
            .images-filter__item Чикано
            .images-filter__item Традишнл
            .images-filter__item Био-механика
            .images-filter__item Чикано
            .images-filter__item Традишнл
            .images-filter__item Био-механика
            .images-filter__item Чикано
            .images-filter__item Традишнл
            .images-filter__item Био-механика
            .images-filter__item Чикано
        // filter
        .images-filter
          .images-filter__title Часть тела
          .images-filter__content
            .images-filter__item Рука
            .images-filter__item Спина
            .images-filter__item Голова
            .images-filter__item Нога
            .images-filter__item Рука
            .images-filter__item Спина
            .images-filter__item Рука
            .images-filter__item Спина
            
        .images-masonry
          .images-masonry__gutter
          // grid card
          .images-masonry__card.images-masonry__card--wide.f-man
            picture
              img(src='images/homepageGallery1.png', srcset='images/homepageGallery1.png 1x, images/homepageGallery1@2x.png 2x')
              a.js-magnific-fullpage(href='images/homepageGallery1@2x.png')
                i.ico.ico-zoom

          // grid card
          .images-masonry__card.f-women
            picture
              img(src='images/homepageGallery2.png', srcset='images/homepageGallery2.png 1x, images/homepageGallery2@2x.png 2x')
              a.js-magnific-fullpage(href='images/homepageGallery1@2x.png')
                i.ico.ico-zoom

          // grid card
          .images-masonry__card.f-women
            picture
              img(src='images/homepageGallery3.png', srcset='images/homepageGallery3.png 1x, images/homepageGallery3@2x.png 2x')
              a.js-magnific-fullpage(href='images/homepageGallery1@2x.png')
                i.ico.ico-zoom

          // grid card
          .images-masonry__card.f-lettering
            picture
              img(src='images/homepageGallery4.png', srcset='images/homepageGallery4.png 1x, images/homepageGallery4@2x.png 2x')
              a.js-magnific-fullpage(href='images/homepageGallery1@2x.png')
                i.ico.ico-zoom

          // grid card
          .images-masonry__card.f-big
            picture
              img(src='images/homepageGallery5.png', srcset='images/homepageGallery5.png 1x, images/homepageGallery5@2x.png 2x')
              a.js-magnific-fullpage(href='images/homepageGallery1@2x.png')
                i.ico.ico-zoom

          // grid card
          .images-masonry__card.f-small
            picture
              img(src='images/homepageGallery6.png', srcset='images/homepageGallery6.png 1x, images/homepageGallery6@2x.png 2x')
              a.js-magnific-fullpage(href='images/homepageGallery1@2x.png')
                i.ico.ico-zoom

          // grid card
          .images-masonry__card.f-lettering
            picture
              img(src='images/homepageGallery7.png', srcset='images/homepageGallery7.png 1x, images/homepageGallery7@2x.png 2x')
              a.js-magnific-fullpage(href='images/homepageGallery1@2x.png')
                i.ico.ico-zoom

          // grid card
          .images-masonry__card.f-black-and-white
            picture
              img(src='images/homepageGallery8.png', srcset='images/homepageGallery8.png 1x, images/homepageGallery8@2x.png 2x')
              a.js-magnific-fullpage(href='images/homepageGallery1@2x.png')
                i.ico.ico-zoom

          // grid card
          .images-masonry__card.f-man
            picture
              img(src='images/homepageGallery9.png', srcset='images/homepageGallery9.png 1x, images/homepageGallery9@2x.png 2x')
              a.js-magnific-fullpage(href='images/homepageGallery1@2x.png')
                i.ico.ico-zoom
                  
          // grid card
          .images-masonry__card.f-man
            picture
              img(src='images/homepageGallery10.png', srcset='images/homepageGallery10.png 1x, images/homepageGallery10@2x.png 2x')
              a.js-magnific-fullpage(href='images/homepageGallery1@2x.png')
                i.ico.ico-zoom

        // PAGINTAION
        a(href='#').btn.btn--ghost.btn--block.btn--no-br Показать еще
        
        // list
        .pagination-full
          .pagination-full__prev
            a(href='#') 
              i.ico.ico-nav-left
          ul.pagination-full__list
            li.active
              a(href='#') 1
            li
              a(href='#') 2
            li
              a(href='#') 3
            li
              a(href='#') 4
            li
              a(href='#') 5
            li
              span ...
            li
              a(href='#') 65
          .pagination-full__next
            a(href='#') 
              i.ico.ico-nav-right  

                                        
                                        
    include shared/footer.pug
    include shared/modals.pug
    include shared/scripts.pug
