doctype html
<!--[if IE 8]>         <html class="ie8 oldie"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 oldie"> <![endif]-->
<!--[if gt IE 9]><!--> <html class=""> <!--<![endif]-->
  include shared/head.pug

  body
    include shared/header-static.pug
    include shared/menu.pug
    
    .page.page--sketches
      .container.container--1280
        h1.section-title Галерея            
        .breadcrumbs
          a(href='#') Главная
          a(href='#') Галерея
        
        .images-filter__toggle-mobile
          a(href='#').btn.btn--ghost 
            span Фильтр
            i.ico.ico-filter-toggle-mobile
              
      .container.container--1280.container--no-pad  
        // filter main
        .images-category
          .images-category__item.active Татуировка
          .images-category__item Исправление
          .images-category__item Пирсинг
          .images-category__item Татуаж
          .images-category__item Био-тату
          
      .container.container--1280
        // filter
        .images-filter
          .images-filter__title Стиль
          .images-filter__content
            .images-filter__title--mobile Стиль
            .images-filter__item Традишнл
            .images-filter__item Био-механика
            .images-filter__item Чикано
            .images-filter__item Традишнл
            .images-filter__item Био-механика
            .images-filter__item Чикано
            .images-filter__item Традишнл
            .images-filter__item Био-механика
            .images-filter__item Чикано
            .images-filter__item Традишнл
            .images-filter__item Био-механика
            .images-filter__item Чикано
        // filter
        .images-filter
          .images-filter__title Часть тела
          .images-filter__content
            .images-filter__title--mobile Часть тела
            .images-filter__item Рука
            .images-filter__item Спина
            .images-filter__item Голова
            .images-filter__item Нога
            .images-filter__item Рука
            .images-filter__item Спина
            .images-filter__item Рука
            .images-filter__item Спина
      
      .container.container--fluid  
        .images-grid
          - for (var i = 1; i < 17; i++) {
           a(href='#').images-grid__card
            .images-grid__card__wrapper
              img(alt="" src='images/gallery/galleryCatImage_'+ i +'.png', srcset='images/gallery/galleryCatImage_'+ i +'.png 1x, images/gallery/galleryCatImage_'+ i +'@2x.png 2x')
              .images-grid__card__title Надписи
          - }
      
      .container.container--no-pad
        a(href='#').toggler-more.js-toggle-gallery-mobile Показать больше
        
                                        
                                        
    include shared/footer.pug
    include shared/modals.pug
    include shared/scripts.pug
