doctype html
<!--[if IE 8]>         <html class="ie8 oldie"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 oldie"> <![endif]-->
<!--[if gt IE 9]><!--> <html class=""> <!--<![endif]-->
  include shared/head.pug

  body
    include shared/header-static.pug
    include shared/menu.pug
    
    .page.page--picabout
      .container.container--fluid.container--no-pad
        h1.section-title Зеленый тигр на коне
        .breadcrumbs
          a(href='#') Главная
          a(href='#') Галерея
          a(href='#') Биомеханика
          a(href='#') Зеленый тигр на коне
      
      
        // slide itself
        
          
      .container.container--fluid.container--no-pad

        // MASTER PORTFOLIO SECTION
        .master-portfolio
          .master-portfolio__head
            .small-title Работы мастера
          .master-portfolio__slider
            img(src='images/masters/masterWork_1.png', srcset='images/masters/masterWork_1.png 1x, images/masters/masterWork_1@2x.png 2x')
            img(src='images/masters/masterWork_2.png', srcset='images/masters/masterWork_2.png 1x, images/masters/masterWork_2@2x.png 2x')
            img(src='images/masters/masterWork_3.png', srcset='images/masters/masterWork_3.png 1x, images/masters/masterWork_3@2x.png 2x')
            img(src='images/masters/masterWork_4.png', srcset='images/masters/masterWork_4.png 1x, images/masters/masterWork_4@2x.png 2x')
            img(src='images/masters/masterWork_5.png', srcset='images/masters/masterWork_5.png 1x, images/masters/masterWork_5@2x.png 2x')
            img(src='images/masters/masterWork_6.png', srcset='images/masters/masterWork_6.png 1x, images/masters/masterWork_6@2x.png 2x')
            img(src='images/masters/masterWork_3.png', srcset='images/masters/masterWork_3.png 1x, images/masters/masterWork_3@2x.png 2x')
            img(src='images/masters/masterWork_4.png', srcset='images/masters/masterWork_4.png 1x, images/masters/masterWork_4@2x.png 2x')
            img(src='images/masters/masterWork_5.png', srcset='images/masters/masterWork_5.png 1x, images/masters/masterWork_5@2x.png 2x')
            img(src='images/masters/masterWork_6.png', srcset='images/masters/masterWork_6.png 1x, images/masters/masterWork_6@2x.png 2x')

          
        // TESTIMONIALS SECTION
        .testimonials
          // slick slider
          .testimonials__slider.slick-custom-dots
            // single slide
            .testimonials__slide
              .testimonials__slide__wrapper
                .testimonials__content
                  .testimonials__actions.testimonials__actions--imagable
                    a(href='#' data-toggle='testimonial').active
                      .testimonials__actions__image
                        img(src='images/testimonialsPic.png')
                        
                    a(href='#' data-toggle='master')
                      .testimonials__actions__image
                        img(src='images/homepageGallery3.png')
                          
                  .testimonials__text.testimonials__text--no-quotemark Хочется выразить огромную благодарность мастеру Павлу! Это реально мастер своего дела!!! Все прошло спокойно и практически безболезненно!  Это была первая моя татуировка, но я уверена, что приду еще и обязательно буду  рекомендовать Ваш салон своим друзьям и знакомым!  Улыбайся! ;)
                  .testimonials__rateable
                    .testimonials__author Екатерина Иванова
                    .testimonials__rating
                      span Оценка: 
                      i.ico.ico-star-rating
                      i.ico.ico-star-rating
                      i.ico.ico-star-rating
                      i.ico.ico-star-rating
                      i.ico.ico-star-rating.ico-star-rating--blank
                      
                  .testimonials__cta
                      a(href='#modalFeedback').btn.btn--ghost.popup-with-zoom-anim Оставить отзыв
                  .testimonials__nav
                    
                  
                .testimonials__picture
                  picture
                    img(data-type='testimonial' src='images/testimonialsPic.png', srcset='images/testimonialsPic.png 1x, images/testimonialsPic@2x.png 2x').active
                    img(data-type='master' src='images/homepageGallery3.png', srcset='images/homepageGallery3.png 1x, images/homepageGallery3@2x.png 2x')
                    
            // single slide
            .testimonials__slide
              .testimonials__slide__wrapper
                .testimonials__content
                  .testimonials__actions.testimonials__actions--imagable
                    a(href='#' data-toggle='testimonial').active
                      .testimonials__actions__image
                        img(src='images/testimonialsPic.png')
                        
                    a(href='#' data-toggle='master')
                      .testimonials__actions__image
                        img(src='images/homepageGallery3.png')
                          
                  .testimonials__text.testimonials__text--no-quotemark Хочется выразить огромную благодарность мастеру Павлу! Это реально мастер своего дела!!! Все прошло спокойно и практически безболезненно!  Это была первая моя татуировка, но я уверена, что приду еще и обязательно буду  рекомендовать Ваш салон своим друзьям и знакомым!  Улыбайся! ;)
                  .testimonials__rateable
                    .testimonials__author Екатерина Иванова
                    .testimonials__rating
                      span Оценка: 
                      i.ico.ico-star-rating
                      i.ico.ico-star-rating
                      i.ico.ico-star-rating
                      i.ico.ico-star-rating
                      i.ico.ico-star-rating.ico-star-rating--blank
                      
                  .testimonials__cta
                      a(href='#modalFeedback').btn.btn--ghost.popup-with-zoom-anim Оставить отзыв
                  .testimonials__nav
                    
                  
                .testimonials__picture
                  picture
                    img(data-type='testimonial' src='images/testimonialsPic.png', srcset='images/testimonialsPic.png 1x, images/testimonialsPic@2x.png 2x').active
                    img(data-type='master' src='images/homepageGallery3.png', srcset='images/homepageGallery3.png 1x, images/homepageGallery3@2x.png 2x')
                    

        // MASTER PORTFOLIO SECTION
        .master-portfolio
          .master-portfolio__head
            .small-title Работы мастера
          .master-portfolio__slider
            img(src='images/masters/masterWork_1.png', srcset='images/masters/masterWork_1.png 1x, images/masters/masterWork_1@2x.png 2x')
            img(src='images/masters/masterWork_2.png', srcset='images/masters/masterWork_2.png 1x, images/masters/masterWork_2@2x.png 2x')
            img(src='images/masters/masterWork_3.png', srcset='images/masters/masterWork_3.png 1x, images/masters/masterWork_3@2x.png 2x')
            img(src='images/masters/masterWork_4.png', srcset='images/masters/masterWork_4.png 1x, images/masters/masterWork_4@2x.png 2x')
            img(src='images/masters/masterWork_5.png', srcset='images/masters/masterWork_5.png 1x, images/masters/masterWork_5@2x.png 2x')
            img(src='images/masters/masterWork_6.png', srcset='images/masters/masterWork_6.png 1x, images/masters/masterWork_6@2x.png 2x')
            img(src='images/masters/masterWork_3.png', srcset='images/masters/masterWork_3.png 1x, images/masters/masterWork_3@2x.png 2x')
            img(src='images/masters/masterWork_4.png', srcset='images/masters/masterWork_4.png 1x, images/masters/masterWork_4@2x.png 2x')
            img(src='images/masters/masterWork_5.png', srcset='images/masters/masterWork_5.png 1x, images/masters/masterWork_5@2x.png 2x')
            img(src='images/masters/masterWork_6.png', srcset='images/masters/masterWork_6.png 1x, images/masters/masterWork_6@2x.png 2x')

    include shared/promo-block.pug
    
    include shared/footer.pug
    include shared/modals.pug
    include shared/scripts.pug
