doctype html
<!--[if IE 8]>         <html class="ie8 oldie"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 oldie"> <![endif]-->
<!--[if gt IE 9]><!--> <html class=""> <!--<![endif]-->
  include shared/head.pug

  body
    include shared/header.pug

    // NAVIGATION
    .sections-nav
      // populated with javascript
    
    // SECTIONS
    .section(data-section-name='hero' data-nav-name="Главная")
      .hero
        .container
          .hero__slider
            // slide
            .hero__slide
              .hero__wrapper.text-center
                .arrow-bar Акция
                .mega-title.mt20 Разработка эскиза <span>бесплатно!</span>
                .fz14.mt10 Действует до 01.12.2018
                
                .hero__benefits
                  .hero__benefit
                    .hero__benefit__title Безопасность здоровья 
                    .hero__benefit__description Только одноразовые инструменты, абсолютно стерильное помещение + специалисты с медицинским образованием.
                  .hero__benefit
                    .hero__benefit__title Довольные клиенты
                    .hero__benefit__description Более 10000 клиентов рекомендуют наш тату салон своим друзьям.
                  .hero__benefit
                    .hero__benefit__title Качество татуировки
                    .hero__benefit__description Только мастера с художественным образованием - эскиз любой сложности. Сделать татуировку вы сможете в этот же или в другой день.
            // slide
            .hero__slide
              .hero__wrapper.text-center
                .arrow-bar Акция
                .mega-title.mt20 Разработка эскиза <span>бесплатно!</span>
                .fz14.mt10 Действует до 01.12.2018
                
                .hero__benefits
                  .hero__benefit
                    .hero__benefit__title Безопасность здоровья 
                    .hero__benefit__description Только одноразовые инструменты, абсолютно стерильное помещение + специалисты с медицинским образованием.
                  .hero__benefit
                    .hero__benefit__title Довольные клиенты
                    .hero__benefit__description Более 10000 клиентов рекомендуют наш тату салон своим друзьям.
                  .hero__benefit
                    .hero__benefit__title Качество татуировки
                    .hero__benefit__description Только мастера с художественным образованием - эскиз любой сложности. Сделать татуировку вы сможете в этот же или в другой день.
                
        .hero__bottom
          .container.container--fluid
            .hero__bottom__wrapper
              .hero__bottom__nav
                i.ico.ico-nav-arrow
                span 
                  span.js-heroSliderCurrent 1
                  | /
                  span.js-heroSliderTotal 2
                i.ico.ico-nav-arrow.ico-nav-arrow--right
              i.ico.ico-scrolldown
              .hero__bottom__socials
                a(href='#')
                  i.ico.ico-social-vk
                a(href='#')
                  i.ico.ico-social-fb    
                a(href='#')
                  i.ico.ico-social-insta
                
    // SERVICES SECTION
    .section(data-section-name='services' data-nav-name="Услуги")
      .services
        .container
          .section-title Услуги
          .services__wrapper
            a(href='#').services__item
              .services__item__icon
                i.ico.ico-service-tatoo-machine
              .services__item__name Тaтуировки
            a(href='#').services__item
              .services__item__icon
                i.ico.ico-service-tattooache
              .services__item__name Татуаж
            a(href='#').services__item
              .services__item__icon
                i.ico.ico-service-pircing
              .services__item__name Пирсинг
            a(href='#').services__item
              .services__item__icon
                i.ico.ico-service-chrysanthemum
              .services__item__name Био-тату
            a(href='#').services__item
              .services__item__icon
                i.ico.ico-service-nano
              .services__item__name Удалениe
            a(href='#').services__item
              .services__item__icon
                i.ico.ico-service-pen
              .services__item__name Обучение  

    // GALLERY SECTION
    .section(data-section-name='gallery' data-nav-name="Галерея")
      .gallery
        .container.container--fluid.container--no-pad
          .section-title Галерея
          .gallery__wrapper
            .gallery__filter
              i.ico.ico-filter-toggle
              .gallery__filter__head
                .gallery__filter__head__label Фильтр
                .gallery__filter__head__selected Популярные
              .gallery__filter__content
                .gallery__filter__item(data-filter='') Все
                .gallery__filter__item(data-filter='') Мужские тату
                .gallery__filter__item(data-filter='') Женские тату
                .gallery__filter__item(data-filter='') Маленькие тату
                .gallery__filter__item(data-filter='') Большие тату
                .gallery__filter__item(data-filter='') Тату надписи
                .gallery__filter__item(data-filter='') Черно-белые татуировки
                .gallery__filter__item(data-filter='') Цветные татуировки
                .gallery__filter__item(data-filter='') Исправления (кавер ап)

            .gallery__grid
              - for (var i = 1; i < 11; i++) {
                .gallery__grid__card
                  picture
                    img(src='images/homepageGallery'+ i +'.png', srcset='images/homepageGallery'+ i +'.png 1x, images/homepageGallery'+ i +'@2x.png 2x')
                    a.js-magnific-fullpage(href='images/homepageGallery'+ i +'@2x.png')
                      i.ico.ico-zoom
              - }
  
    // MASTERS SECTION
    .section(data-section-name='masters' data-nav-name="Мастера")
      .masters
        .container
          .section-title Мастера
          .masters__wrapper
            // master card
            a(href='#').masters__card
              .masters__card__image
                i.ico.ico-zoom
                picture
                  img(src='images/homepageMasterCircle1.png', srcset='images/homepageMasterCircle1.png 1x, images/homepageMasterCircle1@2x.png 2x')
              .masters__card__name Patrick Jacobs
            // master card
            a(href='#').masters__card
              .masters__card__image
                i.ico.ico-zoom
                picture
                  img(src='images/homepageMasterCircle2.png', srcset='images/homepageMasterCircle2.png 1x, images/homepageMasterCircle2@2x.png 2x')
              .masters__card__name Patrick Jacobs
            // master card
            a(href='#').masters__card
              .masters__card__image
                i.ico.ico-zoom
                picture
                  img(src='images/homepageMasterCircle3.png', srcset='images/homepageMasterCircle4.png 1x, images/homepageMasterCircle3@2x.png 2x')
              .masters__card__name Patrick Jacobs
            // master card
            a(href='#').masters__card
              .masters__card__image
                i.ico.ico-zoom
                picture
                  img(src='images/homepageMasterCircle4.png', srcset='images/homepageMasterCircle4.png 1x, images/homepageMasterCircle4@2x.png 2x')
              .masters__card__name Patrick Jacobs
            // master card
            a(href='#').masters__card
              .masters__card__image
                i.ico.ico-zoom
                picture
                  img(src='images/homepageMasterCircle5.png', srcset='images/homepageMasterCircle5.png 1x, images/homepageMasterCircle5@2x.png 2x')
              .masters__card__name Patrick Jacobs
            // master card
            a(href='#').masters__card
              .masters__card__image
                i.ico.ico-zoom
                picture
                  img(src='images/homepageMasterCircle6.png', srcset='images/homepageMasterCircle6.png 1x, images/homepageMasterCircle6@2x.png 2x')
              .masters__card__name Patrick Jacobs
            // master card
            a(href='#').masters__card
              .masters__card__image
                i.ico.ico-zoom
                picture
                  img(src='images/homepageMasterCircle1.png', srcset='images/homepageMasterCircle1.png 1x, images/homepageMasterCircle1@2x.png 2x')
              .masters__card__name Patrick Jacobs
            // master card
            a(href='#').masters__card.masters__card--more
              .masters__card__image
                i.ico.ico-zoom
                i.ico.ico-team
              .masters__card__name Больше мастеров
    
    // TESTIMONIALS SECTION
    .section(data-section-name='testimonials' data-nav-name="Отзывы")
      .testimonials
        .container.container--fluid.container--no-pad
          .section-title Отзывы
          .testimonials__wrapper
            // slick slider
            .testimonials__slider
              // single slide
              .testimonials__slide
                .testimonials__slide__wrapper
                  .testimonials__content
                    .testimonials__actions
                      a(href='#')
                        i.ico.ico-photo-camera
                        span Фото работы
                      a(href='#')
                        i.ico.ico-user-group
                        span Фото с мастером
                            
                    .testimonials__text Хочется выразить огромную благодарность мастеру Павлу! Это реально мастер своего дела!!! Все прошло спокойно и практически безболезненно!  Это была первая моя татуировка, но я уверена, что приду еще и обязательно буду  рекомендовать Ваш салон своим друзьям и знакомым!  Улыбайся! ;)
                    .testimonials__author Екатерина Иванова
                    .testimonials__cta
                        a(href='#').btn.btn--ghost Оставить отзыв
                    .testimonials__nav
                      
                    
                  .testimonials__picture
                    picture
                      img(src='images/testimonialsPic.png', srcset='images/testimonialsPic.png 1x, images/testimonialsPic@2x.png 2x')
                      
              // single slide
              .testimonials__slide
                .testimonials__slide__wrapper
                  .testimonials__content
                    .testimonials__actions
                      a(href='#')
                        i.ico.ico-photo-camera
                        span Фото работы
                      a(href='#')
                        i.ico.ico-user-group
                        span Фото с мастером
                            
                    .testimonials__text Хочется выразить огромную благодарность мастеру Павлу! Это реально мастер своего дела!!! Все прошло спокойно и практически безболезненно!  Это была первая моя татуировка, но я уверена, что приду еще и обязательно буду  рекомендовать Ваш салон своим друзьям и знакомым!  Улыбайся! ;)
                    .testimonials__author Екатерина Иванова
                    .testimonials__cta
                        a(href='#').btn.btn--ghost Оставить отзыв
                    .testimonials__nav
                    
                  .testimonials__picture
                    picture
                      img(src='images/testimonialsPic.png', srcset='images/testimonialsPic.png 1x, images/testimonialsPic@2x.png 2x')
                      
    // BLOG SECTION
    .section(data-section-name='blog' data-nav-name="Блог")
      .blog
        .container
          .section-title Блог
          .blog__wrapper
            // column
            .blog__col
              // item
              a(href='#').blog__card.blog__card--image
                .blog__card__wrapper
                  img.blog__card__image(src='images/homepageBlogRecord.png', srcset='images/homepageBlogRecord.png 1x, images/homepageBlogRecord@2x.png 2x')
                  .blog__card__title Decorate For Less With Art Posters
                  .blog__card__metrics
                    i.ico.ico-counter-eye
                    span 7
              // item
              a(href='#').blog__card.blog__card--dark
                .blog__card__wrapper
                  .blog__card__title Party Jokes Startling But Unnecessary
                  .blog__card__metrics
                    i.ico.ico-counter-eye
                    span 7
              // item
              a(href='#').blog__card
                .blog__card__wrapper
                  .blog__card__title Astronomy Or Astrology
                  .blog__card__metrics
                    i.ico.ico-counter-eye
                    span 7
            // column
            .blog__col
              // item
              a(href='#').blog__card.blog__card--dark
                .blog__card__wrapper
                  .blog__card__title Is It Good To Hire A Personal Chef
                  .blog__card__metrics
                    i.ico.ico-counter-eye
                    span 7
              // item
              a(href='#').blog__card
                .blog__card__wrapper
                  .blog__card__title The Amazing Hubble
                  .blog__card__metrics
                    i.ico.ico-counter-eye
                    span 7
              // item
              a(href='#').blog__card.blog__card--image
                .blog__card__wrapper
                  img.blog__card__image(src='images/homepageBlogRecord.png', srcset='images/homepageBlogRecord.png 1x, images/homepageBlogRecord@2x.png 2x')
                  .blog__card__title New Ideas For A Low Cost Vacation On Water
                  .blog__card__metrics
                    i.ico.ico-counter-eye
                    span 7
            // column
            .blog__col
              .blog__promo
                .blog__card__title Купон <br>  на скидку
                .blog__promo__text
                  p Хочешь сделать татуировку <br> со скидкой? <br> Получи уникальный промокод прямо сейчас и обменяй его <br> на скидку в нашем салоне!
                  p Внимание предложение ограничено, если промокоды сегодня кончились, заходите <br> на наш сайт завтра!
                .blog__promo__counter
                  span Осталось <br> купонов:
                  .blog__promo__triangle
                    span
                      span 14
                      
                form.blog__promo__form(action='#')
                  .ui-input
                    input(type='text' placeholder='имя')
                  .ui-input
                    input(type='email' placeholder='email')    
                  .ui-input
                    input(type='tel' placeholder='телефон')   
                  button(type='submit').btn.btn--ghost.btn--block.mt30 Получить купон 
  
    // SEO SECTION (no scrollify)
    .seo
      .container
        .small-title.text-center Добро пожаловать в лучший тату салон в Москве!
        .seo-text.mt25
          p 1) Только профессиональные художники - изготовление эскиза любой сложности в кратчайшие сроки
          p 2) Ваша татуировка выполняется лучшими мастерами Москвы. Мы гарантируем самый высокий уровень качества исполнения вашей работы.
          p 3) Абсолютная безопасность – только одноразовые расходные материалы, уровень стерильности соответствует самому жесткому стандарту ЕС!
          p 4) Бесплатная консультация и высокий уровень сервиса. Посетив нашу студию, вы сможете оценить безупречный уровень обслуживания по 10 бальной шкале и оставить свой отзыв.
          p 5) Мы Вам очень рады и сделаем все возможное, чтобы вы остались довольны. Это основной принцип работы студии Татумания. 
          p В «Tattoo-Мании» работают настоящие профессионалы и фанаты своего дела. Художники регулярно участвуют в профессиональных конвенциях и занимают на них призовые места. Наш салон татуировок – это слаженная команда профессионалов, которая поможет вам в реализации своих идей на самом высоком уровне. <a href='#'>Подробнее...</a>
                  
    include shared/footer.pug
