doctype html
<!--[if IE 8]>         <html class="ie8 oldie"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 oldie"> <![endif]-->
<!--[if gt IE 9]><!--> <html class=""> <!--<![endif]-->
  include shared/head.pug

  body
    include shared/header-static.pug
    include shared/menu.pug
    
    .page.page--master
      .container.container--fluid.container--no-pad.bg-black
        h1.section-title Мастер татуировки Борис
        .breadcrumbs
          a(href='#') Главная
          a(href='#') Галерея
          a(href='#') Биомеханика
          a(href='#') Зеленый тигр на коне
          
          
      .container.container--fluid.container--no-pad
        // row
        .row.row--condenced.row--stretch-child.row--reverse.pt25.row--column--tablet.bg-black
          .col.col--3-6.img-v-fluid
            .master__image
              picture
                img(alt="" src='images/masterModalPicture.png', srcset='images/masterModalPicture.png 1x, images/masterModalPicture@2x.png 2x')
            
          .col.col--3-6
            .grid-text
              .master__content
                .master__content__row.row--aic
                  .master__content__image
                    picture
                      img(alt="" src='images/homepageMasterCircle6.png', srcset='images/homepageMasterCircle6.png 1x, images/homepageMasterCircle6@2x.png 2x')
                  .master__content__scope
                    .master__content__scope__name Борис
                    a(href='#').hoverable-link Мастер пирсинга
                    
                .master__content__row.mt40.mt20--mobile
                  .master__content__scope
                    .master__content__scope__name Стиль
                    a(href='#').hoverable-link дотворк, лайнворк, полинезия
                  .master__content__scope
                    .master__content__scope__name опыт работы
                    a(href='#').hoverable-link 15 лет
                
                .master__content__row.mt40.mt20--mobile
                  .master__content__scope
                    .master__content__scope__name любимая краска
                    a(href='#').hoverable-link Intense
                  .master__content__scope
                    .master__content__scope__name марка машинки
                    a(href='#').hoverable-link Mustang
                      
                .fz14.mt40.mt20--mobile
                  p Тату – это способ самовыражения, это образ мышления и образ жизни! Татуировки на руках, ногах, теле, лице, веках, губах, ушах на коже между пальцев – ее можно сделать  где угодно.

                  p Но откуда пошла такая традиция или мода? Что же представляет собой нательная живопись?

                  p Это рисунок, надпись, символ, наносимые на тело методом ввода иглой краски разных цветов под кожу. Еще в давние времена люди делали себе на теле различные рисунки,  с помощью них определяли их принадлежность к классу, роду и, в некоторых случаях, наделяли волшебной силой.

                  p Татуировки бывают различных видов и стилей, каждый из которых мог бы определять вашу этническую группу, взгляды, религию, статус и многое другое.
                  p Как таковая, нательная живопись не имеет гендерной принадлежности, кроме татуажа,  но условно татуировки делятся на мужские и женские.

        // MASTER PORTFOLIO SECTION
        .master-portfolio
          .master-portfolio__head
            .small-title Работы мастера
            .master-portfolio__head__nav
              i.ico.ico-nav-arrow
              i.ico.ico-nav-arrow.ico-nav-arrow--right
          .master-portfolio__slider.popup-gallery
            a(href='images/masters/masterWork_1@2x.png').master-portfolio__slider__item
              img(alt="" src='images/masters/masterWork_1.png', srcset='images/masters/masterWork_1.png 1x, images/masters/masterWork_1@2x.png 2x')
            a(href='images/masters/masterWork_2@2x.png').master-portfolio__slider__item
              img(alt="" src='images/masters/masterWork_2.png', srcset='images/masters/masterWork_2.png 1x, images/masters/masterWork_2@2x.png 2x')
            a(href='images/masters/masterWork_3@2x.png').master-portfolio__slider__item
              img(alt="" src='images/masters/masterWork_3.png', srcset='images/masters/masterWork_3.png 1x, images/masters/masterWork_3@2x.png 2x')
            a(href='images/masters/masterWork_4@2x.png').master-portfolio__slider__item
              img(alt="" src='images/masters/masterWork_4.png', srcset='images/masters/masterWork_4.png 1x, images/masters/masterWork_4@2x.png 2x')
            a(href='images/masters/masterWork_5@2x.png').master-portfolio__slider__item
              img(alt="" src='images/masters/masterWork_5.png', srcset='images/masters/masterWork_5.png 1x, images/masters/masterWork_5@2x.png 2x')
            a(href='images/masters/masterWork_6@2x.png').master-portfolio__slider__item
              img(alt="" src='images/masters/masterWork_6.png', srcset='images/masters/masterWork_6.png 1x, images/masters/masterWork_6@2x.png 2x')
            a(href='images/masters/masterWork_3@2x.png').master-portfolio__slider__item
              img(alt="" src='images/masters/masterWork_3.png', srcset='images/masters/masterWork_3.png 1x, images/masters/masterWork_3@2x.png 2x')
            a(href='images/masters/masterWork_4@2x.png').master-portfolio__slider__item
              img(alt="" src='images/masters/masterWork_4.png', srcset='images/masters/masterWork_4.png 1x, images/masters/masterWork_4@2x.png 2x')
            a(href='images/masters/masterWork_5@2x.png').master-portfolio__slider__item
              img(alt="" src='images/masters/masterWork_5.png', srcset='images/masters/masterWork_5.png 1x, images/masters/masterWork_5@2x.png 2x')
            a(href='images/masters/masterWork_6@2x.png').master-portfolio__slider__item
              img(alt="" src='images/masters/masterWork_6.png', srcset='images/masters/masterWork_6.png 1x, images/masters/masterWork_6@2x.png 2x')

          
        // TESTIMONIALS SECTION
        .testimonials.testimonials--master
          // slick slider
          .testimonials__slider.slick-custom-dots
            // single slide
            .testimonials__slide
              .testimonials__slide__wrapper
                .testimonials__content
                  .small-title Отзывы клиентов студии
                  .testimonials__actions.testimonials__actions--imagable
                    a(href='#' data-toggle='testimonial').active
                      .testimonials__actions__image
                        img(alt="" src='images/testimonialsPic.png')
                        
                    a(href='#' data-toggle='master')
                      .testimonials__actions__image
                        img(alt="" src='images/homepageGallery3.png')
                          
                  .testimonials__text.testimonials__text--no-quotemark Хочется выразить огромную благодарность мастеру Павлу! Это реально мастер своего дела!!! Все прошло спокойно и практически безболезненно!  Это была первая моя татуировка, но я уверена, что приду еще и обязательно буду  рекомендовать Ваш салон своим друзьям и знакомым!  Улыбайся! ;)
                  .testimonials__rateable
                    .testimonials__author Екатерина Иванова
                    .testimonials__rating
                      span Оценка: 
                      i.ico.ico-star-rating
                      i.ico.ico-star-rating
                      i.ico.ico-star-rating
                      i.ico.ico-star-rating
                      i.ico.ico-star-rating.ico-star-rating-blank
                      
                  .testimonials__cta
                      a(href='#modalFeedback').btn.btn--ghost.popup-with-zoom-anim Оставить отзыв
                  .testimonials__nav
                    
                  
                .testimonials__picture
                  picture
                    img(data-type='testimonial' src='images/testimonialsPic.png', srcset='images/testimonialsPic.png 1x, images/testimonialsPic@2x.png 2x').active
                    img(data-type='master' src='images/homepageGallery3.png', srcset='images/homepageGallery3.png 1x, images/homepageGallery3@2x.png 2x')
                    
            // single slide
            .testimonials__slide
              .testimonials__slide__wrapper
                .testimonials__content
                  .small-title Отзывы клиентов студии
                  .testimonials__actions.testimonials__actions--imagable
                    a(href='#' data-toggle='testimonial').active
                      .testimonials__actions__image
                        img(alt="" src='images/testimonialsPic.png')
                        
                    a(href='#' data-toggle='master')
                      .testimonials__actions__image
                        img(alt="" src='images/homepageGallery3.png')
                          
                  .testimonials__text.testimonials__text--no-quotemark Хочется выразить огромную благодарность мастеру Павлу! Это реально мастер своего дела!!! Все прошло спокойно и практически безболезненно!  Это была первая моя татуировка, но я уверена, что приду еще и обязательно буду  рекомендовать Ваш салон своим друзьям и знакомым!  Улыбайся! ;)
                  .testimonials__rateable
                    .testimonials__author Екатерина Иванова
                    .testimonials__rating
                      span Оценка: 
                      i.ico.ico-star-rating
                      i.ico.ico-star-rating
                      i.ico.ico-star-rating
                      i.ico.ico-star-rating
                      i.ico.ico-star-rating.ico-star-rating-blank
                      
                  .testimonials__cta
                      a(href='#modalFeedback').btn.btn--ghost.popup-with-zoom-anim Оставить отзыв
                  .testimonials__nav
                    
                  
                .testimonials__picture
                  picture
                    img(data-type='testimonial' src='images/testimonialsPic.png', srcset='images/testimonialsPic.png 1x, images/testimonialsPic@2x.png 2x').active
                    img(data-type='master' src='images/homepageGallery3.png', srcset='images/homepageGallery3.png 1x, images/homepageGallery3@2x.png 2x')
      
      
    include shared/promo-block.pug
    
    include shared/footer.pug
    include shared/modals.pug
    include shared/scripts.pug
