doctype html
<!--[if IE 8]>         <html class="ie8 oldie"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 oldie"> <![endif]-->
<!--[if gt IE 9]><!--> <html class=""> <!--<![endif]-->
  include shared/head.pug

  body
    include shared/header-static.pug
    include shared/menu.pug
    
    .page.page--safety
      .container.container--fluid.container--no-pad
        h1.section-title Безопастность
        .breadcrumbs
          a(href='#') Главная
          a(href='#') Галерея
          a(href='#') Биомеханика
          a(href='#') Зеленый тигр на коне
        
        // row
        .row.row--condenced.row--stretch-child.row--reverse.mt25.row--column--tablet
          .col.col--3-6.img-v-fluid
            picture
              img(alt="" src='images/safety1.png', srcset='images/safety1.png 1x, images/safety1@2x.png 2x')
          .col.col--3-6
            .grid-text
              .big-text Мы с пониманием и серьезностью относимся к безопасности наших клиентов и применяем самые современные и эффективные методы, обеспечивающие стерильность помещения и полную безопасность процесса выполнения тату.
              .small-title.mt40 Одноразовые материалы
              .fz14.mt20 Мы используем исключительно одноразовые контактные материалы – иглы, носики, колпачки для краски, которые распечатываются только в Вашем присутствии. Мастера работают в одноразовых медицинских перчатках.
                
        // row
        .row.row--condenced.row--stretch-child.row--column--tablet
          .col.col--3-6.img-v-fluid
            picture
              img(alt="" src='images/safety2.png', srcset='images/safety2.png 1x, images/safety2@2x.png 2x')
          .col.col--3-6
            .grid-text
              .small-title Стерильные помещения
              .fz14.mt40 В нашей студии все работы выполняются в специально оборудованных кабинетах, в которых есть все для ежедневной стерилизации помещения, рабочих мест и оборудования. Воздух в помещении несколько раз в день обрабатывается с помощью бактерицидной ультрафиолетовой лампы. Ее излучение эффективно устраняет все возможные микробы и бактерии в воздухе, делая рабочее пространство полностью стерильным. Такие же лампы используются медицинскими учреждениями в хирургических и других процедурных кабинетах. Для поддержания оптимальной температуры и свежести воздуха кабинеты оборудованы приточно-вытяжной вентиляцией.
            
        // row
        .row.row--condenced.row--stretch-child.row--reverse.row--column--tablet
          .col.col--3-6.img-v-fluid
            picture
              img(alt="" src='images/safety3.png', srcset='images/safety3.png 1x, images/safety3@2x.png 2x')
        
          .col.col--3-6
            .grid-text
              .small-title 4 этапа очистки оборудования
              .fz14.mt40 Все рабочее оборудование – тату машинки и держатели - проходят необходимые ступени стерилизации после каждого клиента, по стандартам, принятым в медицинских учреждениях. Во-первых, это механическая чистка, во-вторых, экспозиция в дезинфицирующем растворе, в-третьих, ультразвуковая чистка в специальном ультразвуковом аппарате, и наконец - термальная очистка с применением высокого давления и температуры в автоклаве. Именно эти этапы очистки позволяют полностью устранять все возможные микробы и микроорганизмы и гарантировать полную стерильность инструментов. Хранение инструментов осуществляется в индивидуальной одноразовой герметичной упаковке.
              
        // row
        .row.row--condenced.row--stretch-child.row--column--tablet
          .col.col--3-6.img-v-fluid
            picture
              img(alt="" src='images/safety4.png', srcset='images/safety4.png 1x, images/safety4@2x.png 2x')
          .col.col--3-6
            .grid-text
              .fz14
                p Все поверхности в процессе работы и во время ежедневной уборки обрабатываются специальными антибактериальными жидкими средствами - Микроцидоом, Аламинолом, на клипкорд одевается барьерная защита, на кресло или кушетку – новая индивидуальная простынь и одноразовый чехол на все оборудование. Гарантию безопасности обеспечивает использование исключительно одноразовых контактных материалов – татуировальных игл, носиков, колпачков для краски, которые распечатываются в вашем присутствии. В процессе работы, место нанесения татуировки на теле регулярно обрабатывается специальным антибактериальным раствором – Октенисептом.
                p Если у Вас остались вопросы, вы можете записаться и подъехать к нам в студию. Мы покажем и расскажем все более подробно.
              .text-center
                a(href='#').btn.btn--ghost Записаться на консультацию

            
    include shared/footer.pug
    include shared/modals.pug
    include shared/scripts.pug
