doctype html
<!--[if IE 8]>         <html class="ie8 oldie"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 oldie"> <![endif]-->
<!--[if gt IE 9]><!--> <html class=""> <!--<![endif]-->
  include shared/head.pug

  body
    include shared/header.pug
    include shared/menu.pug
    
    // SERVICE PAGE
    .service.service--school
      h1.section-title Обучение
      .breadcrumbs
        a(href='#') Главная
        a(href='#') Услуги
        a(href='#') Удалениие татуировки
      
      // SERVICE SLIDER
      .service-slider.service-slider--dark-bg.mt25
        .container.container--fluid.container--no-pad
          // single slide
          .service-slider__slide
            .service-slider__slide__wrapper
              .service-slider__content
                .small-title Обучение татуировке
                .service-slider__content__text 
                  p Интересуешься татуировкой и хочешь стать тату мастером, но не знаешь с чего начать? Мы поможем тебе! 
                  p Опытные тату мастера салона «Тату Мания» разработали специальную программу обучения художественной татуировке, благодаря которой, каждый желающий сможет научиться всем тонкостям работы тату мастера. 
                  p Посетив занятия по обучению тату, Вы познакомитесь с основами нанесения рисунков на тело (базовая техника нанесения контуров, тени и оттенки, колористика), а так же получите возможность применить свои знания на практике!
                   
              .service-slider__picture.service-slider__picture--no-gradient
                img(alt="" src='images/services/serviceSlider_8.png', srcset='images/services/serviceSlider_8.png 1x, images/services/serviceSlider_8@2x.png 2x')
      
      // SERVICE QUOTE          
      .service-quote.light-bg
        .container.container--fluid.container--no-pad
          .service-quote__wrapper
            .service-quote__picture
              .video
                .ico-video-play
                img(alt="" src='images/services/serviceVideo_2.png', srcset='images/services/serviceVideo_2.png 1x, images/services/serviceVideo_2@2x.png 2x')
            .service-quote__content
              form(action="#")
                p Опытные тату мастера салона «Тату Мания» разработали специальную программу обучения художественной татуировке, благодаря которой, каждый желающий сможет научиться всем тонкостям работы тату мастера. 
                p Посетив занятия по обучению тату, Вы познакомитесь с основами нанесения рисунков на тело (базовая техника нанесения контуров, тени и оттенки, колористика), а так же получите возможность применить свои знания на практике! 
                
      // SERVICE HOW TO
      .service-how.light-bg
        .container.container--1280
          .small-title Почему мы?
          .service-how__wrapper
            .service-how__col
              // item
              .service-how__item
                .service-how__item__icon
                  i.icon.icon-ico-trophy
                .service-how__item__text Наши преподаватели действующие тату мастера со стажем и победители тату конвенций
              // item
              .service-how__item
                .service-how__item__icon
                  i.icon.icon-ico-service-tatoo-machine
                .service-how__item__text Все необходимое для работы оборудования, школа предоставляет бесплатно (на период обучения)
              // item
              .service-how__item
                .service-how__item__icon
                  i.icon.icon-ico-medal
                .service-how__item__text Стажировка в лучших тату студиях Москвы
            // col
            .service-how__col
              // item
              .service-how__item
                .service-how__item__icon
                  i.icon.icon-ico-doctor
                .service-how__item__text Занятия по медицинской части, проводят действующие санитарные врачи
              // item
              .service-how__item
                .service-how__item__icon
                  i.icon.icon-ico-mortarboard
                .service-how__item__text 18 часов теории и 90 часов практики!
              // item
              .service-how__item
                .service-how__item__icon
                  i.icon.icon-ico-presentation
                .service-how__item__text Мы обучили более 1500 человек!
                  
      // SERVICE COURSES
      .service-courses
        .container.container--1280
          .small-title Наши курсы
        .container.container--fluid.container--no-pad.mt30
          // course
          .service-courses__course
            .service-courses__course-bg
              img(src='images/services/service-course-1.png')
            .service-courses__course__content.service-courses__course__content--f-start
              .service-courses__course__left 
                .service-courses__course__name Базовый курс  (обучение с нуля)
              .service-courses__course__right
                .service-courses__course__price от 30 000 руб
            .service-courses__course__content.service-courses__course__content--f-end
                .service-courses__course__left 
                  .service-courses__course__short
                    span 18 часов теория
                    span 54 часа Практики
                    span Срок обучения 1.5 месяца
                .service-courses__course__right
                  a(href='#').btn.btn--ghost.js-toggle-shool
                    span Узнать подробнее
                    i.ico.ico-filter-toggle-mobile
            .service-courses__course__toggle
              .service-courses__course__dropdown
                .service-courses__course__left 
                  p Базовый курс обучения художественной татуировке — лучший вариант для людей, кто хочет прикоснуться к миру тату! Обучение проводится с самых азов и содержит наиболее полный спектр необходимой информации. Курс длится 2 месяца и включает 56 часов практики под руководством мастера. На протяжении шести недель лучшие мастера Москвы будут обучать вас искусству художественной тату. С первого занятия вы уже сможете подготавливать рабочее место и собирать оборудование, а также сделаете свои первые линии на искусственной коже. Со второй недели вы начнете осваивать закрасочные и теневые техники и для отработки полученных навыков будете выполнять черно-белые работы в наиболее интересных вам стилях. Третья неделя включает в себя основы работы с цветными пигментами и теоретический материал по колористике. После этого занятия вы сможете выполнять цветные работы с переходами и сложными пигментными миксами, и, уже с четвертой недели вы перейдете к тонкой искусственной коже, чтобы отработать правильную глубину нанесения татуировки. На пятой неделе преподаватель вам объяснит тонкости такого процесса как кавер-ап, а вся шестая неделя будет посвящена подготовке вашей выпускной работы. По результатам тестирования и выпускной работы вы получите сертификат, а также бесценные знания и много новых друзей.
                
                .service-courses__course__right
                  ul 
                    li 
                      span Cамостоятельная подготовка рабочего места
                    li 
                      span Подбор и подготовка эскиза, нанесения эскиза на тело
                    li 
                      span Предоставляем моделей для практики
                    li 
                      span Все работы выполняются под присмотром преподователя
                    li 
                      span Оценка, разбор сложных моментов совместно с преподавателем
                    li 
                      span Занятия проходят в процедурном кабинете
                    li 
                      span Цель курса предоставить необходимый опыт для последующего трудоустройства или организации мини-студии на дому.
              
                .service-courses__course__dropdown__cta
                  .service-courses__course__dropdown__cta__left
                    .btn.btn--ghost.btn--square Со своими моделями  80 000 руб
                    .btn.btn--primary.btn--square С нашими моделями  90 000 руб
                  .service-courses__course__dropdown__cta__right
                    a(href='#').btn.btn--primary Записаться
          
          // course
          .service-courses__course
            .service-courses__course-bg
              img(src='images/services/service-course-2.png')
            .service-courses__course__content.service-courses__course__content--f-start
              .service-courses__course__left 
                .service-courses__course__name Курс повышения квалификации  (для практикующих мастеров)
              .service-courses__course__right
                .service-courses__course__price от 80 000 руб
            .service-courses__course__content.service-courses__course__content--f-end
              .service-courses__course__left 
                .service-courses__course__short
                  span 18 часов теория
                  span 54 часа Практики
                  span Срок обучения 1.5 месяца
              .service-courses__course__right
                a(href='#').btn.btn--ghost.js-toggle-shool
                  span Узнать подробнее
                  i.ico.ico-filter-toggle-mobile
            .service-courses__course__toggle
              .service-courses__course__dropdown
                .service-courses__course__left 
                  p Базовый курс обучения художественной татуировке — лучший вариант для людей, кто хочет прикоснуться к миру тату! Обучение проводится с самых азов и содержит наиболее полный спектр необходимой информации. Курс длится 2 месяца и включает 56 часов практики под руководством мастера. На протяжении шести недель лучшие мастера Москвы будут обучать вас искусству художественной тату. С первого занятия вы уже сможете подготавливать рабочее место и собирать оборудование, а также сделаете свои первые линии на искусственной коже. Со второй недели вы начнете осваивать закрасочные и теневые техники и для отработки полученных навыков будете выполнять черно-белые работы в наиболее интересных вам стилях. Третья неделя включает в себя основы работы с цветными пигментами и теоретический материал по колористике. После этого занятия вы сможете выполнять цветные работы с переходами и сложными пигментными миксами, и, уже с четвертой недели вы перейдете к тонкой искусственной коже, чтобы отработать правильную глубину нанесения татуировки. На пятой неделе преподаватель вам объяснит тонкости такого процесса как кавер-ап, а вся шестая неделя будет посвящена подготовке вашей выпускной работы. По результатам тестирования и выпускной работы вы получите сертификат, а также бесценные знания и много новых друзей.
                
                .service-courses__course__right
                  ul 
                    li 
                      span Cамостоятельная подготовка рабочего места
                    li 
                      span Подбор и подготовка эскиза, нанесения эскиза на тело
                    li 
                      span Предоставляем моделей для практики
                    li 
                      span Все работы выполняются под присмотром преподователя
                    li 
                      span Оценка, разбор сложных моментов совместно с преподавателем
                    li 
                      span Занятия проходят в процедурном кабинете
                    li 
                      span Цель курса предоставить необходимый опыт для последующего трудоустройства или организации мини-студии на дому.
              
                .service-courses__course__dropdown__cta
                  .service-courses__course__dropdown__cta__left
                    .btn.btn--ghost.btn--square Со своими моделями  80 000 руб
                    .btn.btn--primary.btn--square С нашими моделями  90 000 руб
                  .service-courses__course__dropdown__cta__right
                    a(href='#').btn.btn--primary Записаться
          // course
          .service-courses__course
            .service-courses__course-bg
              img(src='images/services/service-course-2.png')
            .service-courses__course__content.service-courses__course__content--f-start
              .service-courses__course__left 
                .service-courses__course__name Курс повышения квалификации  (для практикующих мастеров)
              .service-courses__course__right
                .service-courses__course__price от 80 000 руб
            .service-courses__course__content.service-courses__course__content--f-end
              .service-courses__course__left 
                .service-courses__course__short
                  span 18 часов теория
                  span 54 часа Практики
                  span Срок обучения 1.5 месяца
              .service-courses__course__right
                a(href='#').btn.btn--ghost.js-toggle-shool
                  span Узнать подробнее
                  i.ico.ico-filter-toggle-mobile
            .service-courses__course__toggle
              .service-courses__course__dropdown
                .service-courses__course__left 
                  p Базовый курс обучения художественной татуировке — лучший вариант для людей, кто хочет прикоснуться к миру тату! Обучение проводится с самых азов и содержит наиболее полный спектр необходимой информации. Курс длится 2 месяца и включает 56 часов практики под руководством мастера. На протяжении шести недель лучшие мастера Москвы будут обучать вас искусству художественной тату. С первого занятия вы уже сможете подготавливать рабочее место и собирать оборудование, а также сделаете свои первые линии на искусственной коже. Со второй недели вы начнете осваивать закрасочные и теневые техники и для отработки полученных навыков будете выполнять черно-белые работы в наиболее интересных вам стилях. Третья неделя включает в себя основы работы с цветными пигментами и теоретический материал по колористике. После этого занятия вы сможете выполнять цветные работы с переходами и сложными пигментными миксами, и, уже с четвертой недели вы перейдете к тонкой искусственной коже, чтобы отработать правильную глубину нанесения татуировки. На пятой неделе преподаватель вам объяснит тонкости такого процесса как кавер-ап, а вся шестая неделя будет посвящена подготовке вашей выпускной работы. По результатам тестирования и выпускной работы вы получите сертификат, а также бесценные знания и много новых друзей.
                
                .service-courses__course__right
                  ul 
                    li 
                      span Cамостоятельная подготовка рабочего места
                    li 
                      span Подбор и подготовка эскиза, нанесения эскиза на тело
                    li 
                      span Предоставляем моделей для практики
                    li 
                      span Все работы выполняются под присмотром преподователя
                    li 
                      span Оценка, разбор сложных моментов совместно с преподавателем
                    li 
                      span Занятия проходят в процедурном кабинете
                    li 
                      span Цель курса предоставить необходимый опыт для последующего трудоустройства или организации мини-студии на дому.
              
                .service-courses__course__dropdown__cta
                  .service-courses__course__dropdown__cta__left
                    .btn.btn--ghost.btn--square Со своими моделями  80 000 руб
                    .btn.btn--primary.btn--square С нашими моделями  90 000 руб
                  .service-courses__course__dropdown__cta__right
                    a(href='#').btn.btn--primary Записаться
                          
        
                
      // SERVICE MASTERS  
      .container.container--fluid.container--no-pad
          // row
          .row.row--condenced.row--stretch-child.row--reverse.mt25.row--column--tablet.bg-black
            .col.col--3-6.img-v-fluid
              .master__image
                picture
                  img(alt="" src='images/masterModalPicture.png', srcset='images/masterModalPicture.png 1x, images/masterModalPicture@2x.png 2x')
              
            .col.col--3-6
              .grid-text
                .master__content
                  .master__content__row.row--aic
                    .master__content__image
                      picture
                        img(alt="" src='images/homepageMasterCircle6.png', srcset='images/homepageMasterCircle6.png 1x, images/homepageMasterCircle6@2x.png 2x')
                    .master__content__scope
                      .master__content__scope__name Борис
                      a(href='#').hoverable-link Мастер пирсинга
                      
                  .master__content__row.mt40.mt20--mobile
                    .master__content__scope
                      .master__content__scope__name Стиль
                      a(href='#').hoverable-link дотворк, лайнворк, полинезия
                    .master__content__scope
                      .master__content__scope__name опыт работы
                      a(href='#').hoverable-link 15 лет
                  
                  .master__content__row.mt40.mt0--mobile
                    .master__content__scope
                      .master__content__scope__name любимая краска
                      a(href='#').hoverable-link Intense
                    .master__content__scope
                      .master__content__scope__name марка машинки
                      a(href='#').hoverable-link Mustang
                        
                  .fz14.mt40.hidden--mobile
                    p Тату – это способ самовыражения, это образ мышления и образ жизни! Татуировки на руках, ногах, теле, лице, веках, губах, ушах на коже между пальцев – ее можно сделать  где угодно.

                  .text-center.mt30.mt10--mobile
                    a(href='#').btn.btn--ghost Узнать подробнее

      // MASTER PORTFOLIO SECTION
      .master-portfolio.light-bg
        .master-portfolio__head
          .small-title Работы учеников
          .master-portfolio__head__nav
            i.ico.ico-nav-arrow
            i.ico.ico-nav-arrow.ico-nav-arrow--right
        .master-portfolio__slider.popup-gallery
          a(href='images/masters/masterWork_1@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_1.png', srcset='images/masters/masterWork_1.png 1x, images/masters/masterWork_1@2x.png 2x')
          a(href='images/masters/masterWork_2@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_2.png', srcset='images/masters/masterWork_2.png 1x, images/masters/masterWork_2@2x.png 2x')
          a(href='images/masters/masterWork_3@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_3.png', srcset='images/masters/masterWork_3.png 1x, images/masters/masterWork_3@2x.png 2x')
          a(href='images/masters/masterWork_4@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_4.png', srcset='images/masters/masterWork_4.png 1x, images/masters/masterWork_4@2x.png 2x')
          a(href='images/masters/masterWork_5@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_5.png', srcset='images/masters/masterWork_5.png 1x, images/masters/masterWork_5@2x.png 2x')
          a(href='images/masters/masterWork_6@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_6.png', srcset='images/masters/masterWork_6.png 1x, images/masters/masterWork_6@2x.png 2x')
          a(href='images/masters/masterWork_3@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_3.png', srcset='images/masters/masterWork_3.png 1x, images/masters/masterWork_3@2x.png 2x')
          a(href='images/masters/masterWork_4@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_4.png', srcset='images/masters/masterWork_4.png 1x, images/masters/masterWork_4@2x.png 2x')
          a(href='images/masters/masterWork_5@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_5.png', srcset='images/masters/masterWork_5.png 1x, images/masters/masterWork_5@2x.png 2x')
          a(href='images/masters/masterWork_6@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_6.png', srcset='images/masters/masterWork_6.png 1x, images/masters/masterWork_6@2x.png 2x')
        
        a(href='#').btn.btn--ghost.mt40 Перейти к галерее
    
    include shared/footer-seo.pug
    include shared/footer.pug
    include shared/modals.pug
    include shared/scripts.pug
