doctype html
<!--[if IE 8]>         <html class="ie8 oldie"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 oldie"> <![endif]-->
<!--[if gt IE 9]><!--> <html class=""> <!--<![endif]-->
  include shared/head.pug

  body
    include shared/header.pug
    include shared/menu.pug
    
    // SERVICE PAGE
    .service.service--delete
      h1.section-title Исправление татуировки
      .breadcrumbs
        a(href='#') Главная
        a(href='#') Услуги
        a(href='#') Удалениие татуировки
      
      // SERVICE SLIDER
      .service-slider.service-slider--dark-bg.mt25
        .container.container--fluid.container--no-pad
          // single slide
          .service-slider__slide
            .service-slider__slide__wrapper
              .service-slider__content
                .service-slider__content__text 
                  p Особыми операциями для мастеров тату являются ИСПРАВЛЕНИЯ и ПЕРЕКРЫТИЯ («COVER-UP») тату. При перекрытиях тату на старый узор кладется абсолютно новый, полностью его перекрывая. При исправлениях или переделках сюжет может быть достроен, т.е. части старого вплетаются в новый узор. Но в том и в другом случае первоначальный рисунок полностью изменяется.
                  p При ИСПРАВЛЕНИЯХ тату мастера обычно используют затушевки, белый краситель или, наоборот, радикально черный. Тату-мастер примеряет на старый рисунок новый, дорисовывает его в соответствии с пожеланиями клиента и приступает к работе.
                  p ПЕРЕКРЫТИЕ (COVER-UP) применяется в тех случаях, когда человек сделал себе так называемую «партачку» (армия, сдуру), «наколку» (зона) или просто разонравился сюжет, но сводить тату не хочет, а желает закрасить ее полностью, (без исправления!) в соответствии со своим сегодняшним статусом и ощущениями. Для опытного тату-мастера нет никаких проблем в том, чтобы обновить ваше тату, переделать его, исправить или достроить. Все зависит от сюжета тату и ваших пожеланий.
              .service-slider__picture.service-slider__picture--no-gradient
                img(alt="" src='images/services/serviceSlider_3.png', srcset='images/services/serviceSlider_3.png 1x, images/services/serviceSlider_3@2x.png 2x')
      
      // MASTER PORTFOLIO SECTION
      .master-portfolio.light-bg
        .master-portfolio__head
          .small-title Работы мастера
          .master-portfolio__head__nav
            i.ico.ico-nav-arrow
            i.ico.ico-nav-arrow.ico-nav-arrow--right
        .master-portfolio__slider.popup-gallery
          a(href='images/masters/masterWork_1@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_1.png', srcset='images/masters/masterWork_1.png 1x, images/masters/masterWork_1@2x.png 2x')
          a(href='images/masters/masterWork_2@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_2.png', srcset='images/masters/masterWork_2.png 1x, images/masters/masterWork_2@2x.png 2x')
          a(href='images/masters/masterWork_3@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_3.png', srcset='images/masters/masterWork_3.png 1x, images/masters/masterWork_3@2x.png 2x')
          a(href='images/masters/masterWork_4@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_4.png', srcset='images/masters/masterWork_4.png 1x, images/masters/masterWork_4@2x.png 2x')
          a(href='images/masters/masterWork_5@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_5.png', srcset='images/masters/masterWork_5.png 1x, images/masters/masterWork_5@2x.png 2x')
          a(href='images/masters/masterWork_6@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_6.png', srcset='images/masters/masterWork_6.png 1x, images/masters/masterWork_6@2x.png 2x')
          a(href='images/masters/masterWork_3@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_3.png', srcset='images/masters/masterWork_3.png 1x, images/masters/masterWork_3@2x.png 2x')
          a(href='images/masters/masterWork_4@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_4.png', srcset='images/masters/masterWork_4.png 1x, images/masters/masterWork_4@2x.png 2x')
          a(href='images/masters/masterWork_5@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_5.png', srcset='images/masters/masterWork_5.png 1x, images/masters/masterWork_5@2x.png 2x')
          a(href='images/masters/masterWork_6@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_6.png', srcset='images/masters/masterWork_6.png 1x, images/masters/masterWork_6@2x.png 2x')
        
        a(href='#').btn.btn--ghost.mt40 Перейти к галерее
        
      // SERVICE QUOTE          
      .service-quote.service-quote--bg-black
        .container.container--fluid.container--no-pad
          .service-quote__wrapper
            .service-quote__picture
              img(alt="" src='images/services/serviceCoverUp.png', srcset='images/services/serviceCoverUp.png 1x, images/services/serviceCoverUp@2x.png 2x')
            .service-quote__content
              form(action="#")
                .small-title Узнайте стоимость исправления!
                .row.mt10
                  .col.col--3-6
                    .ui-input.ui-input--icon.ui-input--user
                      input(type='text' placeholder='Ваше имя' name='name') 
                  .col.col--3-6
                    .ui-input.ui-input--icon.ui-input--mobile
                      input(type='text' placeholder='Телефон' name='phone' data-mask="0 (000) 000-00-00") 

                .ui-input.ui-input--icon.ui-input--email
                  input(type='email' placeholder='Ваш email' name='email') 

                .ui-input.ui-input--icon.ui-input--comment
                  textarea(placeholder='Отзыв' rows='3' name='comment')
                
                .modal__cta
                  .ui-file
                    input(type='file' data-multiple-caption='выбрано {count} файлов', multiple='')
                    .ui-file__btn
                      span Прикрепить файл
                      i.ico.ico-add-attachment
                  button(type='submit').btn.btn--ghost.btn--ghost--fill Записаться
          
      // SERVICE PRICE 
      .service-price
        .container.container--1280
          .small-title Цены
          .service-price__wrapper
            // price card
            a(href='#').service-price__card
              .service-price__card__image
                i.ico.ico-eye(data-action='#')
                img(alt="" src='images/services/servicePrice_1.png')
                .service-price__card__name Исправление <br> тату
              .service-price__card__price 1 500 руб
            // price card
            a(href='#').service-price__card
              .service-price__card__image
                i.ico.ico-eye(data-action='#')
                img(alt="" src='images/services/servicePrice_2.png')
                .service-price__card__name Исправление <br> тату
              .service-price__card__price 3 000 руб  
            // price card
            a(href='#').service-price__card
              .service-price__card__image
                i.ico.ico-eye(data-action='#')
                img(alt="" src='images/services/servicePrice_3.png')
                .service-price__card__name Исправление <br> тату
              .service-price__card__price 1 500 руб
            // price card
            a(href='#').service-price__card
              .service-price__card__image
                i.ico.ico-eye(data-action='#')
                img(alt="" src='images/services/servicePrice_4.png')
                .service-price__card__name Коррекция <br> тату <span>В течение 3-х недель*</span>
              .service-price__card__price 3 000 руб 
              
      // SERVICE BENEFITS
      .service-benefits
        .container.container--1280
          .small-title Почему мы?
        .service-benefits__wrapper
          // card
          a(href='#').service-benefits__card
            img(alt="" src='images/services/serviceBenefits_1.png')
            .service-benefits__card__content
              .service-benefits__card__icon
                i.icon-ico-paint-brush
              .service-benefits__card__right
                .service-benefits__card__name Только профессиональные художники
                .service-benefits__card__desc Разработка эскиза любой <br> сложности в кратчайшие сроки Бесплатно!
          // card
          a(href='#').service-benefits__card
            img(alt="" src='images/services/serviceBenefits_2.png')
            .service-benefits__card__content
              .service-benefits__card__icon
                i.icon-ico-thumb-up
              .service-benefits__card__right
                .service-benefits__card__name Довольные клиенты
                .service-benefits__card__desc Вы можете прочитать отзывы наших клиентов и убедиться в этом ;)
          // card
          a(href='#').service-benefits__card
            img(alt="" src='images/services/serviceBenefits_3.png')
            .service-benefits__card__content
              .service-benefits__card__icon
                i.icon-ico-shield
              .service-benefits__card__right
                .service-benefits__card__name Абсолютная безопасность
                .service-benefits__card__desc Только одноразовые расходные материалы, уровень стерильности  соответствует самому жесткому стандарту ЕС!
          // card
          a(href='#').service-benefits__card
            img(alt="" src='images/services/serviceBenefits_4.png')
            .service-benefits__card__content
              .service-benefits__card__icon
                i.icon-ico-moustache
              .service-benefits__card__right
                .service-benefits__card__name Бесплатная консультация и высокий уровень сервиса
                .service-benefits__card__desc Разработка эскиза любой сложности в кратчайшие сроки Бесплатно!
                                
      // TESTIMONIALS SECTION
      .testimonials
        .container.container--fluid.container--no-pad
        // slick slider
        .testimonials__slider.slick-custom-dots
          // single slide
          .testimonials__slide
            .testimonials__slide__wrapper
              .testimonials__content
                .testimonials__actions
                  a(href='#' data-toggle='testimonial').active
                    i.ico.ico-photo-camera
                    span Фото работы
                  a(href='#' data-toggle='master')
                    i.ico.ico-user-group
                    span Фото с мастером
                        
                .testimonials__text Хочется выразить огромную благодарность мастеру Павлу! Это реально мастер своего дела!!! Все прошло спокойно и практически безболезненно!  Это была первая моя татуировка, но я уверена, что приду еще и обязательно буду  рекомендовать Ваш салон своим друзьям и знакомым!  Улыбайся! ;)
                .testimonials__author Екатерина Иванова
                .testimonials__cta
                    a(href='#modalFeedback').btn.btn--ghost.popup-with-zoom-anim Оставить отзыв
                .testimonials__nav
                  
                
              .testimonials__picture
                picture
                  img(data-type='testimonial' src='images/testimonialsPic.png', srcset='images/testimonialsPic.png 1x, images/testimonialsPic@2x.png 2x').active
                  img(data-type='master' src='images/homepageGallery3.png', srcset='images/homepageGallery3.png 1x, images/homepageGallery3@2x.png 2x')
                  
          // single slide
          .testimonials__slide
            .testimonials__slide__wrapper
              .testimonials__content
                .testimonials__actions
                  a(href='#' data-toggle='testimonial').active
                    i.ico.ico-photo-camera
                    span Фото работы
                  a(href='#' data-toggle='master')
                    i.ico.ico-user-group
                    span Фото с мастером
                        
                .testimonials__text Хочется выразить огромную благодарность мастеру Павлу! Это реально мастер своего дела!!! Все прошло спокойно и практически безболезненно!  Это была первая моя татуировка, но я уверена, что приду еще и обязательно буду  рекомендовать Ваш салон своим друзьям и знакомым!  Улыбайся! ;)
                .testimonials__author Екатерина Иванова
                .testimonials__cta
                    a(href='#modalFeedback').btn.btn--ghost.popup-with-zoom-anim Оставить отзыв
                .testimonials__nav
                
              .testimonials__picture
                picture
                  img(data-type='testimonial' src='images/testimonialsPic.png', srcset='images/testimonialsPic.png 1x, images/testimonialsPic@2x.png 2x').active
                  img(data-type='master' src='images/homepageGallery3.png', srcset='images/homepageGallery3.png 1x, images/homepageGallery3@2x.png 2x')

    
    include shared/promo-block.pug
    include shared/footer-seo.pug                      
    include shared/footer.pug
    include shared/modals.pug
    include shared/scripts.pug
