doctype html
<!--[if IE 8]>         <html class="ie8 oldie"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 oldie"> <![endif]-->
<!--[if gt IE 9]><!--> <html class=""> <!--<![endif]-->
  include shared/head.pug

  body
    include shared/header.pug
    include shared/menu.pug
    
    // SERVICE PAGE
    .service.service--delete
      h1.section-title Био татуировка
      .breadcrumbs
        a(href='#') Главная
        a(href='#') Услуги
        a(href='#') Удалениие татуировки
      
      // SERVICE SLIDER
      .service-slider.service-slider--dark-bg.mt25
        .container.container--fluid.container--no-pad
          // single slide
          .service-slider__slide
            .service-slider__slide__wrapper
              .service-slider__content
                .small-title Био-тату (временная татуировка)
                .service-slider__content__text 
                  p Многих людей интересует вопрос, есть ли альтернатива постоянной татуировке?
                  p И мы ответим да! В нашем салоне Вы можете сделать абсолютно безопасно татуировку хной, или  как принято нынче называть Био-тату.
                  p Наши мастера помогут Вам с выбором рисунка и местом нанесения! С примерами работ можно ознакомиться тут!
                  p Данная процедура абсолютно безопасна, в связи с тем, что Хна – это растение, которое обладает не только красящим свойством, но и дезинфицирующим!
                  p Техника нанесения Био-тату следующая: Вы выбираете в нашем салоне, рисунок наподобии узора  (Он не должен быть объемным и с  большим количеством мелких деталей, так как такого рода рисунки делаются только при  нанесении настоящей татуировки).
              .service-slider__picture.service-slider__picture--no-gradient
                img(alt="" src='images/services/serviceSlider_6.png', srcset='images/services/serviceSlider_6.png 1x, images/services/serviceSlider_6@2x.png 2x')
      
      // SERVICE QUOTE          
      .service-quote
        .container.container--fluid.container--no-pad
          .service-quote__wrapper
            .service-quote__picture
              .video
                .ico-video-play
                img(alt="" src='images/services/serviceVideo_1.png', srcset='images/services/serviceVideo_1.png 1x, images/services/serviceVideo_1@2x.png 2x')
            .service-quote__content
              form(action="#")
                .small-title Узнайте стоимость удаления!
                p Мастер при помощи трансферной бумаги наносит рисунок на тело и выкладывает хну точно по рисунку. Далее, нужно выждать некоторое время, пока рисунок не высохнет. После того, как все высохло, стряхиваем высохшую краску и все! Ваша прекрасная тату готова!
                p Срок ее к сожалению не долговечен, но она сможет порадовать Вас на период от недели до двух!
                p Дорогие клиенты! Просим Вас обратить внимание!! Ни каких временных татуировок, кроме Био-тату нет! Если Вам предлагают сделать татуировку на месяц, 2 месяца, пол года или еще более год – учтите! Вас обманывают! Берегите свое тело! Не доверяйте его мошенникам!

      // MASTER PORTFOLIO SECTION
      .master-portfolio.light-bg
        .master-portfolio__head
          .small-title Примеры био-тату
          .master-portfolio__head__nav
            i.ico.ico-nav-arrow
            i.ico.ico-nav-arrow.ico-nav-arrow--right
        .master-portfolio__slider.popup-gallery
          a(href='images/masters/masterWork_1@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_1.png', srcset='images/masters/masterWork_1.png 1x, images/masters/masterWork_1@2x.png 2x')
          a(href='images/masters/masterWork_2@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_2.png', srcset='images/masters/masterWork_2.png 1x, images/masters/masterWork_2@2x.png 2x')
          a(href='images/masters/masterWork_3@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_3.png', srcset='images/masters/masterWork_3.png 1x, images/masters/masterWork_3@2x.png 2x')
          a(href='images/masters/masterWork_4@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_4.png', srcset='images/masters/masterWork_4.png 1x, images/masters/masterWork_4@2x.png 2x')
          a(href='images/masters/masterWork_5@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_5.png', srcset='images/masters/masterWork_5.png 1x, images/masters/masterWork_5@2x.png 2x')
          a(href='images/masters/masterWork_6@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_6.png', srcset='images/masters/masterWork_6.png 1x, images/masters/masterWork_6@2x.png 2x')
          a(href='images/masters/masterWork_3@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_3.png', srcset='images/masters/masterWork_3.png 1x, images/masters/masterWork_3@2x.png 2x')
          a(href='images/masters/masterWork_4@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_4.png', srcset='images/masters/masterWork_4.png 1x, images/masters/masterWork_4@2x.png 2x')
          a(href='images/masters/masterWork_5@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_5.png', srcset='images/masters/masterWork_5.png 1x, images/masters/masterWork_5@2x.png 2x')
          a(href='images/masters/masterWork_6@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_6.png', srcset='images/masters/masterWork_6.png 1x, images/masters/masterWork_6@2x.png 2x')
        
        a(href='#').btn.btn--ghost.mt40 Перейти к галерее
        
                                
    include shared/footer.pug
    include shared/modals.pug
    include shared/scripts.pug
