doctype html
<!--[if IE 8]>         <html class="ie8 oldie"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 oldie"> <![endif]-->
<!--[if gt IE 9]><!--> <html class=""> <!--<![endif]-->
  include shared/head.pug

  body
    include shared/header.pug
    include shared/menu.pug
    
    // SERVICE PAGE
    .service.service--delete
      h1.section-title Пирсинг
      .breadcrumbs
        a(href='#') Главная
        a(href='#') Услуги
        a(href='#') Удалениие татуировки
      
      // SERVICE SLIDER
      .service-slider.service-slider--dark-bg.mt25
        .container.container--fluid.container--no-pad
          // single slide
          .service-slider__slide
            .service-slider__slide__wrapper
              .service-slider__content
                .small-title Почему стоит делать пирсинг в нашем салоне?
                .service-slider__content__text 
                  p Пирсинг – это своеобразная незначительная операция. Проводить ее следует только в хорошо подготовленном месте. Наш салон пирсинга именно такой. Это одна из основных специализаций нашей деятельности, у нас есть все требуемые гигиенические сертификаты и созданы идеальные условия для осуществления данной процедуры.
                  p Кроме того, наш пирсинг-тату салон отличается следующими преимуществами: профессиональный персонал, в том числе мастера пирсинга огромные возможности выбора украшений для пирсинга современные и полностью безопасные инструменты качественный сервис
                  p Наш пирсинг-тату салон хорош не только высоким уровнем специалистов. Мы заботимся о посетителях. Мастера предоставляют всю необходимую информацию о том, как правильно ухаживать за пирсингом, чтобы это не повредило здоровью. Пирсинг у нас – это не рулетка с высокой вероятностью получить вместо украшения проблемы со здоровьем. Это надежная операция, результатом которой вы останетесь довольны. 
              .service-slider__picture.service-slider__picture--no-gradient
                img(alt="" src='images/services/serviceSlider_4.png', srcset='images/services/serviceSlider_4.png 1x, images/services/serviceSlider_4@2x.png 2x')
      
      // SERVICE TYPES
      .service-types
        .container.container--1280
          .small-title Виды пирсинга 
        .container.mt50
          .service-types__wrapper
            // item
            a(href='services-piercing-child.html').service-types__item
              .service-types__item__image
                img(alt="" src='images/services/serviceType_1.png', srcset='images/services/serviceType_1.png 1x, images/services/serviceType_1@2x.png 2x')
              .service-types__item__name Пирсинг пупка 
            // item
            a(href='services-piercing-child.html').service-types__item
              .service-types__item__image
                img(alt="" src='images/services/serviceType_2.png', srcset='images/services/serviceType_2.png 1x, images/services/serviceType_2@2x.png 2x')
              .service-types__item__name Пирсинг носа 
            // item
            a(href='services-piercing-child.html').service-types__item
              .service-types__item__image
                img(alt="" src='images/services/serviceType_3.png', srcset='images/services/serviceType_3.png 1x, images/services/serviceType_3@2x.png 2x')
              .service-types__item__name Пирсинг языка 
            // item
            a(href='services-piercing-child.html').service-types__item
              .service-types__item__image
                img(alt="" src='images/services/serviceType_4.png', srcset='images/services/serviceType_4.png 1x, images/services/serviceType_4@2x.png 2x')
              .service-types__item__name Пирсинг брови 
            // item
            a(href='services-piercing-child.html').service-types__item
              .service-types__item__image
                img(alt="" src='images/services/serviceType_5.png', srcset='images/services/serviceType_5.png 1x, images/services/serviceType_5@2x.png 2x')
              .service-types__item__name Пирсинг ушей 
            // item
            a(href='services-piercing-child.html').service-types__item
              .service-types__item__image
                img(alt="" src='images/services/serviceType_6.png', srcset='images/services/serviceType_6.png 1x, images/services/serviceType_6@2x.png 2x')
              .service-types__item__name Пирсинг сосков 
            // item
            a(href='services-piercing-child.html').service-types__item
              .service-types__item__image
                img(alt="" src='images/services/serviceType_7.png', srcset='images/services/serviceType_7.png 1x, images/services/serviceType_7@2x.png 2x')
              .service-types__item__name Пирсинг губы 
            // item
            a(href='services-piercing-child.html').service-types__item
              .service-types__item__image
                img(alt="" src='images/services/serviceType_8.png', srcset='images/services/serviceType_8.png 1x, images/services/serviceType_8@2x.png 2x')
              .service-types__item__name Сложные проколы
              
      // SERVICE MASTERS  
      .container.container--fluid.container--no-pad
        // row
        .row.row--condenced.row--stretch-child.row--reverse.mt25.row--column--tablet.bg-black
          .col.col--3-6.img-v-fluid
            .master__image
              picture
                img(alt="" src='images/masterModalPicture.png', srcset='images/masterModalPicture.png 1x, images/masterModalPicture@2x.png 2x')
            
          .col.col--3-6
            .grid-text
              .master__content
                .small-title Мастера пирсинга 
                .master__content__row.row--aic.mt50
                  .master__content__image
                    picture
                      img(alt="" src='images/homepageMasterCircle6.png', srcset='images/homepageMasterCircle6.png 1x, images/homepageMasterCircle6@2x.png 2x')
                  .master__content__scope
                    .master__content__scope__name Борис
                    a(href='#').hoverable-link Мастер пирсинга
                    
                .master__content__row.mt40.mt20--mobile
                  .master__content__scope
                    .master__content__scope__name Стиль
                    a(href='#').hoverable-link дотворк, лайнворк, полинезия
                  .master__content__scope
                    .master__content__scope__name опыт работы
                    a(href='#').hoverable-link 15 лет
                
                .master__content__row.mt40.mt0--mobile
                  .master__content__scope
                    .master__content__scope__name любимая краска
                    a(href='#').hoverable-link Intense
                  .master__content__scope
                    .master__content__scope__name марка машинки
                    a(href='#').hoverable-link Mustang
                      
                .fz14.mt40.hidden--mobile
                  p Тату – это способ самовыражения, это образ мышления и образ жизни! Татуировки на руках, ногах, теле, лице, веках, губах, ушах на коже между пальцев – ее можно сделать  где угодно.
                  

      // MASTER PORTFOLIO SECTION
      .master-portfolio.master-portfolio--inline.light-bg
        .master-portfolio__head
          .small-title Примеры пирсинга
          .master-portfolio__head__nav
            i.ico.ico-nav-arrow
            i.ico.ico-nav-arrow.ico-nav-arrow--right
        .master-portfolio__slider.popup-gallery
          a(href='images/masters/masterWork_1@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_1.png', srcset='images/masters/masterWork_1.png 1x, images/masters/masterWork_1@2x.png 2x')
          a(href='images/masters/masterWork_2@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_2.png', srcset='images/masters/masterWork_2.png 1x, images/masters/masterWork_2@2x.png 2x')
          a(href='images/masters/masterWork_3@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_3.png', srcset='images/masters/masterWork_3.png 1x, images/masters/masterWork_3@2x.png 2x')
          a(href='images/masters/masterWork_4@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_4.png', srcset='images/masters/masterWork_4.png 1x, images/masters/masterWork_4@2x.png 2x')
          a(href='images/masters/masterWork_5@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_5.png', srcset='images/masters/masterWork_5.png 1x, images/masters/masterWork_5@2x.png 2x')
          a(href='images/masters/masterWork_6@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_6.png', srcset='images/masters/masterWork_6.png 1x, images/masters/masterWork_6@2x.png 2x')
          a(href='images/masters/masterWork_3@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_3.png', srcset='images/masters/masterWork_3.png 1x, images/masters/masterWork_3@2x.png 2x')
          a(href='images/masters/masterWork_4@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_4.png', srcset='images/masters/masterWork_4.png 1x, images/masters/masterWork_4@2x.png 2x')
          a(href='images/masters/masterWork_5@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_5.png', srcset='images/masters/masterWork_5.png 1x, images/masters/masterWork_5@2x.png 2x')
          a(href='images/masters/masterWork_6@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_6.png', srcset='images/masters/masterWork_6.png 1x, images/masters/masterWork_6@2x.png 2x')
      
        a(href='#').btn.btn--ghost.mt40 Перейти к галерее
              
      // SERVICE PRICE 
      .service-price
        .container.container--1280
          .small-title Цены
          .service-price__wrapper.slick-custom-dots
            // price card
            a(href='#').service-price__card
              .service-price__card__image
                i.ico.ico-eye(data-action='#')
                img(alt="" src='images/services/servicePrice_piercing_1.png')
                .service-price__card__name Тату <span>5см на 5см</span>
              .service-price__card__price 1 500 руб
            // price card
            a(href='#').service-price__card
              .service-price__card__image
                i.ico.ico-eye(data-action='#')
                img(alt="" src='images/services/servicePrice_piercing_2.png')
                .service-price__card__name Тату <span>10см на 10см</span>
              .service-price__card__price 3 000 руб  
            // price card
            a(href='#').service-price__card
              .service-price__card__image
                i.ico.ico-eye(data-action='#')
                img(alt="" src='images/services/servicePrice_piercing_3.png')
                .service-price__card__name Исправление тату
              .service-price__card__price 1 500 руб
            // price card
            a(href='#').service-price__card
              .service-price__card__image
                i.ico.ico-eye(data-action='#')
                img(alt="" src='images/services/servicePrice_piercing_4.png')
                .service-price__card__name Коррекция <br> тату <span>В течение 3-х недель*</span>
              .service-price__card__price 3 000 руб 
                      
      // SERVICE QUOTE          
      .service-quote
        .container.container--fluid.container--no-pad
          .service-quote__wrapper
            .service-quote__picture
              img(alt="" src='images/services/servicePiercing.png', srcset='images/services/servicePiercing.png 1x, images/services/servicePiercing@2x.png 2x')
            .service-quote__content
              .small-title Уход за пирсингом
              p Классный пирсинг – это не только умение мастера, но и ваше старание по уходу за ним, особенно в первые недели после процедуры. Делая пирсинг, вы должны быть готовы к определенным ограничениям:

              p • Запрет на посещение бань и саун в первые две недели после процедуры;
              p • Необходимость 3-4 раза в день обрабатывать прокол мирамистином или перекисью водорода.

              p Сразу при проколе нельзя вставлять серебряные украшения. Для того чтобы рана зажила быстро и безболезненно, рекомендуется до ее заживления носить украшения из хирургической стали или титана. Только через 1-2 недели, если все будет хорошо, стальное украшение можно заменить серебряным или другим. Такой подход позволяет свести к минимуму риск нагноения или занесения инфекции.                  
                                                        
      // TESTIMONIALS SECTION
      .testimonials
        .container.container--fluid.container--no-pad
        // slick slider
        .testimonials__slider.slick-custom-dots
          // single slide
          .testimonials__slide
            .testimonials__slide__wrapper
              .testimonials__content
                .small-title Отзывы клиентов
                .testimonials__actions
                  a(href='#' data-toggle='testimonial').active
                    i.ico.ico-photo-camera
                    span Фото работы
                  a(href='#' data-toggle='master')
                    i.ico.ico-user-group
                    span Фото с мастером
                        
                .testimonials__text Хочется выразить огромную благодарность мастеру Павлу! Это реально мастер своего дела!!! Все прошло спокойно и практически безболезненно!  Это была первая моя татуировка, но я уверена, что приду еще и обязательно буду  рекомендовать Ваш салон своим друзьям и знакомым!  Улыбайся! ;)
                .testimonials__author Екатерина Иванова
                .testimonials__cta
                    a(href='#modalFeedback').btn.btn--ghost.popup-with-zoom-anim Оставить отзыв
                .testimonials__nav
                  
                
              .testimonials__picture
                picture
                  img(data-type='testimonial' src='images/testimonialsPic.png', srcset='images/testimonialsPic.png 1x, images/testimonialsPic@2x.png 2x').active
                  img(data-type='master' src='images/homepageGallery3.png', srcset='images/homepageGallery3.png 1x, images/homepageGallery3@2x.png 2x')
                  
          // single slide
          .testimonials__slide
            .testimonials__slide__wrapper
              .testimonials__content
                .small-title Отзывы клиентов
                .testimonials__actions
                  a(href='#' data-toggle='testimonial').active
                    i.ico.ico-photo-camera
                    span Фото работы
                  a(href='#' data-toggle='master')
                    i.ico.ico-user-group
                    span Фото с мастером
                        
                .testimonials__text Хочется выразить огромную благодарность мастеру Павлу! Это реально мастер своего дела!!! Все прошло спокойно и практически безболезненно!  Это была первая моя татуировка, но я уверена, что приду еще и обязательно буду  рекомендовать Ваш салон своим друзьям и знакомым!  Улыбайся! ;)
                .testimonials__author Екатерина Иванова
                .testimonials__cta
                    a(href='#modalFeedback').btn.btn--ghost.popup-with-zoom-anim Оставить отзыв
                .testimonials__nav
                
              .testimonials__picture
                picture
                  img(data-type='testimonial' src='images/testimonialsPic.png', srcset='images/testimonialsPic.png 1x, images/testimonialsPic@2x.png 2x').active
                  img(data-type='master' src='images/homepageGallery3.png', srcset='images/homepageGallery3.png 1x, images/homepageGallery3@2x.png 2x')

    
    include shared/promo-block.pug
    include shared/footer-seo.pug                  
    include shared/footer.pug
    include shared/modals.pug
    include shared/scripts.pug
