doctype html
<!--[if IE 8]>         <html class="ie8 oldie"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 oldie"> <![endif]-->
<!--[if gt IE 9]><!--> <html class=""> <!--<![endif]-->
  include shared/head.pug

  body
    include shared/header.pug
    include shared/menu.pug
    
    // SERVICE PAGE
    .service.service--piercing-child
      h1.section-title Пирсинг носа
      .breadcrumbs
        a(href='#') Главная
        a(href='#') Услуги
        a(href='#') Пирсинг
      
      // SERVICE SLIDER
      .service-slider.mt25
        .container.container--fluid.container--no-pad
          // single slide
          .service-slider__slide
            .service-slider__slide__wrapper
              .service-slider__content
                .small-title Почему стоит делать пирсинг носа  в нашем салоне?
                .service-slider__content__text 
                  p Пирсинг носа на данный момент является наиболее распространенным видом пирсинга. Разумный подбор украшения и качественное исполнение позволят вам выглядеть красиво, стильно и оригинально. Ну а чтобы получить отличный результат без риска для здоровья, делать пирсинг следует в нашем салоне.
                  p У нас работают специалисты самого высокого класса. Наши опытные мастера готовы сделать вам пирсинг любой сложности. Салон сертифицирован и полностью соответствует всем действующим требованиям по гигиене и прочим параметрам. Мы применяем только качественное оборудование и предлагаем широкий ассортиментный ряд красивых украшений. Выбирать действительно есть из чего!
                  p Самое главное – у нас делать пирсинг носа безопасно. Это подтверждается безупречной репутацией салона. Вы хотите пирсинг? Вы получите его у нас в любое время!

              .service-slider__picture.service-slider__picture--no-gradient
                img(alt="" src='images/services/serviceSlider_7.png', srcset='images/services/serviceSlider_7.png 1x, images/services/serviceSlider_7@2x.png 2x')
      
      // SERVICE QUOTE          
      .service-quote
        .container.container--fluid.container--no-pad
          .service-quote__wrapper
            .service-quote__picture
              img(alt="" src='images/services/servicePrice_piercing_5.png', srcset='images/services/servicePrice_piercing_5.png 1x, images/services/servicePrice_piercing_5@2x.png 2x')
            .service-quote__content
              .small-title Как выполняется пирсинг носа?
              p В принципе, пирсинг носа не является слишком сложной процедурой. При этом сделать ее качественно может только квалифицированный специалист. Алгоритм действий довольно прост. Сначала вы с мастером выбираете точное место для пирсинга. Далее нос тщательно дезинфицируется, а место прокола помечается маркером. После этого по вашему желанию мастер может сделать местную анестезию. Сам прокол осуществляется специальной иглой с катетером, через который в дальнейшем вставляется украшение. p Сначала можно ставить только украшение, сделанное из медицинской стали, а после заживления ранки его можно заменить золотым, серебряным или любым другим.                                
      // SERVICE QUOTE          
      .service-quote
        .container.container--fluid.container--no-pad
          .service-quote__wrapper.service-quote__wrapper--reverse
            .service-quote__picture
              img(alt="" src='images/services/servicePrice_piercing_6.png', srcset='images/services/servicePrice_piercing_6.png 1x, images/services/servicePrice_piercing_6@2x.png 2x')
            .service-quote__content
              .small-title Как выполняется пирсинг носа?
              p В принципе, пирсинг носа не является слишком сложной процедурой. При этом сделать ее качественно может только квалифицированный специалист. Алгоритм действий довольно прост. Сначала вы с мастером выбираете точное место для пирсинга. Далее нос тщательно дезинфицируется, а место прокола помечается маркером. После этого по вашему желанию мастер может сделать местную анестезию. Сам прокол осуществляется специальной иглой с катетером, через который в дальнейшем вставляется украшение. p Сначала можно ставить только украшение, сделанное из медицинской стали, а после заживления ранки его можно заменить золотым, серебряным или любым другим.                                
      // SERVICE QUOTE          
      .service-quote
        .container.container--fluid.container--no-pad
          .service-quote__wrapper
            .service-quote__picture
              img(alt="" src='images/services/servicePrice_piercing_7.png', srcset='images/services/servicePrice_piercing_7.png 1x, images/services/servicePrice_piercing_7@2x.png 2x')
            .service-quote__content
              .small-title Как выполняется пирсинг носа?
              p В принципе, пирсинг носа не является слишком сложной процедурой. При этом сделать ее качественно может только квалифицированный специалист. Алгоритм действий довольно прост. Сначала вы с мастером выбираете точное место для пирсинга. Далее нос тщательно дезинфицируется, а место прокола помечается маркером. После этого по вашему желанию мастер может сделать местную анестезию. Сам прокол осуществляется специальной иглой с катетером, через который в дальнейшем вставляется украшение. p Сначала можно ставить только украшение, сделанное из медицинской стали, а после заживления ранки его можно заменить золотым, серебряным или любым другим.                                
                            
      
      // MASTER PORTFOLIO SECTION
      .master-portfolio
        .master-portfolio__head
          .small-title Примеры пирсинга
          .master-portfolio__head__nav
            i.ico.ico-nav-arrow
            i.ico.ico-nav-arrow.ico-nav-arrow--right
        .master-portfolio__slider.popup-gallery
          a(href='images/masters/masterWork_1@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_1.png', srcset='images/masters/masterWork_1.png 1x, images/masters/masterWork_1@2x.png 2x')
          a(href='images/masters/masterWork_2@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_2.png', srcset='images/masters/masterWork_2.png 1x, images/masters/masterWork_2@2x.png 2x')
          a(href='images/masters/masterWork_3@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_3.png', srcset='images/masters/masterWork_3.png 1x, images/masters/masterWork_3@2x.png 2x')
          a(href='images/masters/masterWork_4@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_4.png', srcset='images/masters/masterWork_4.png 1x, images/masters/masterWork_4@2x.png 2x')
          a(href='images/masters/masterWork_5@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_5.png', srcset='images/masters/masterWork_5.png 1x, images/masters/masterWork_5@2x.png 2x')
          a(href='images/masters/masterWork_6@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_6.png', srcset='images/masters/masterWork_6.png 1x, images/masters/masterWork_6@2x.png 2x')
          a(href='images/masters/masterWork_3@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_3.png', srcset='images/masters/masterWork_3.png 1x, images/masters/masterWork_3@2x.png 2x')
          a(href='images/masters/masterWork_4@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_4.png', srcset='images/masters/masterWork_4.png 1x, images/masters/masterWork_4@2x.png 2x')
          a(href='images/masters/masterWork_5@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_5.png', srcset='images/masters/masterWork_5.png 1x, images/masters/masterWork_5@2x.png 2x')
          a(href='images/masters/masterWork_6@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_6.png', srcset='images/masters/masterWork_6.png 1x, images/masters/masterWork_6@2x.png 2x')
        
        a(href='#').btn.btn--ghost.mt40 Перейти к галерее
    
    include shared/promo-block.pug             
    include shared/footer.pug
    include shared/modals.pug
    include shared/scripts.pug
