doctype html
<!--[if IE 8]>         <html class="ie8 oldie"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 oldie"> <![endif]-->
<!--[if gt IE 9]><!--> <html class=""> <!--<![endif]-->
  include shared/head.pug

  body
    include shared/header.pug
    include shared/menu.pug
    
    // SERVICE PAGE
    .service.service--delete
      h1.section-title Удалениие татуировки
      .breadcrumbs
        a(href='#') Главная
        a(href='#') Услуги
        a(href='#') Удалениие татуировки
      
      // SERVICE SLIDER
      .service-slider.service-slider--dark-bg.mt25
        .container.container--fluid.container--no-pad
          // single slide
          .service-slider__slide.service-slider__slide--no-slider
            .service-slider__slide__wrapper
              .service-slider__content
                .service-slider__content__text 
                  p Цена на выведение тату лазером зависит от размера рисунка, плотности нанесения пигмента, качества красителя и глубины забивки. Консультация мастера - бесплатно. Получить предварительную консультацию и уточнить стоимость, Вы можете по тел. +7 495 640 20 40
                  p Причинами удаления татуировки может стать изменившаяся социальная ситуация и возраст ее обладателя, некачественно нанесенный рисунок, и многие другие причины.
                  p Все предлагаемые ранее методы сведения татуировок (выжигание кислотами, удаление татуировок жидким азотом и электротоком, глубокая шлифовка, хирургическое удаление татуировок) значительно травмировали кожу и неизменно приводили при выведении татуировок к образованию грубых шрамов и рубцов. Сегодня вполне реально удалить татуировку бесследно и гуманно при помощи твердотельного неодимового лазера.
                  p Удаление тату зависит от большого количества факторов – качество и цвет краски, техника и глубина нанесения рисунка, место нанесение татуировки, склонность кожи к рубцеванию и большое значение имеет уход за поврежденной кожей. Практически никогда невозможно точно определить количество процедур, которое необходимо для полного удаления пигмента!
                  p Обычно видимый эффект потери цвета достигается после второй процедуры удаления лазером, когда пигмент становиться значительно светлее, последующие процедуры только усиливают этот эффект!

              .service-slider__picture.service-slider__picture--no-gradient
                img(alt="" src='images/services/serviceSlider_2.png', srcset='images/services/serviceSlider_2.png 1x, images/services/serviceSlider_2@2x.png 2x')
      
      // SERVICE QUOTE          
      .service-quote
        .container.container--fluid.container--no-pad
          .service-quote__wrapper
            .service-quote__picture
              img(alt="" src='images/services/serviceDelete.png', srcset='images/services/serviceDelete.png 1x, images/services/serviceDelete@2x.png 2x')
            .service-quote__content
              form(action="#").js-service-form
                .small-title Узнайте стоимость удаления!
                .row.mt10
                  .col.col--3-6
                    .ui-input.ui-input--icon.ui-input--user
                      input(type='text' placeholder='Ваше имя' name='name') 
                  .col.col--3-6
                    .ui-input.ui-input--icon.ui-input--mobile
                      input(type='text' placeholder='Телефон' name='phone' data-mask="0 (000) 000-00-00") 

                .ui-input.ui-input--icon.ui-input--email
                  input(type='email' placeholder='Ваш email' name='email') 

                .ui-input.ui-input--icon.ui-input--comment
                  textarea(placeholder='Отзыв' rows='3' name='comment')
                .ui-input__validation Поля, отмеченные красным цветом, обязательны для заполнения
                .modal__cta
                  .ui-file
                    input(type='file' data-multiple-caption='выбрано {count} файлов', multiple='')
                    .ui-file__btn
                      span Прикрепить файл
                      i.ico.ico-add-attachment
                  button(type='submit').btn.btn--ghost.btn--ghost--fill Записаться
          
    
    include shared/footer-seo.pug
    include shared/footer.pug
    include shared/modals.pug
    include shared/scripts.pug
