doctype html
<!--[if IE 8]>         <html class="ie8 oldie"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 oldie"> <![endif]-->
<!--[if gt IE 9]><!--> <html class=""> <!--<![endif]-->
  include shared/head.pug

  body
    include shared/header.pug
    include shared/menu.pug
    
    // SERVICE PAGE
    .service.service--delete
      h1.section-title Татуаж
      .breadcrumbs
        a(href='#') Главная
        a(href='#') Услуги
        a(href='#') Удалениие татуировки
      
      // SERVICE SLIDER
      .service-slider.service-slider--dark-bg.mt25
        .container.container--fluid.container--no-pad
          // single slide
          .service-slider__slide
            .service-slider__slide__wrapper
              .service-slider__content
                .small-title Перманентный макияж
                .service-slider__content__text 
                  p По своей популярности перманентный макияж превосходит многие косметические услуги, так как это достаточно простая и практически безболезненная операция и у нее нет возрастных ограничений. Огромная аудитория женщин воспользовавшись процедурой единожды, возвращаются в салон вновь - для проведения новой. Здесь можно ознакомится с проведенными процедурами и их результатом.
              .service-slider__picture.service-slider__picture--no-gradient
                img(alt="" src='images/services/serviceSlider_5.png', srcset='images/services/serviceSlider_5.png 1x, images/services/serviceSlider_5@2x.png 2x')
      
      // SERVICE TYPES
      .service-types
        .container.container--full
          .small-title Виды перманентного макияжа 
        .container.mt50
          .service-types__wrapper
            // item
            a(href='services-permanent-child.html').service-types__item
              .service-types__item__image
                img(alt="" src='images/services/serviceType_9.png', srcset='images/services/serviceType_9.png 1x, images/services/serviceType_9@2x.png 2x')
              .service-types__item__name Пирсинг пупка 
            // item
            a(href='services-permanent-child.html').service-types__item
              .service-types__item__image
                img(alt="" src='images/services/serviceType_10.png', srcset='images/services/serviceType_10.png 1x, images/services/serviceType_10@2x.png 2x')
              .service-types__item__name Пирсинг носа 
            // item
            a(href='services-permanent-child.html').service-types__item
              .service-types__item__image
                img(alt="" src='images/services/serviceType_11.png', srcset='images/services/serviceType_11.png 1x, images/services/serviceType_11@2x.png 2x')
              .service-types__item__name Пирсинг языка 
            // item
            a(href='services-permanent-child.html').service-types__item
              .service-types__item__image
                img(alt="" src='images/services/serviceType_12.png', srcset='images/services/serviceType_12.png 1x, images/services/serviceType_12@2x.png 2x')
              .service-types__item__name Пирсинг брови 
            // item
            a(href='services-permanent-child.html').service-types__item
              .service-types__item__image
                img(alt="" src='images/services/serviceType_13.png', srcset='images/services/serviceType_13.png 1x, images/services/serviceType_13@2x.png 2x')
              .service-types__item__name Пирсинг ушей 
            // item
            a(href='services-permanent-child.html').service-types__item
              .service-types__item__image
                img(alt="" src='images/services/serviceType_13.png', srcset='images/services/serviceType_13.png 1x, images/services/serviceType_13@2x.png 2x')
              .service-types__item__name Пирсинг сосков 

        
      // SERVICE SLIDER
      .service-slider.service-slider--dark-bg
        .container.container--fluid.container--no-pad
          // single slide
          .service-slider__slide
            .service-slider__slide__wrapper
              .service-slider__content
                .small-title Мастер татуажа Татьяна Литвинова
                .service-slider__content__text 
                p Дипломированный мастер по перманентному макияжу с опытом работы более 10 лет, член ассоциации TattooArtist и Союза Визажистов России. Более 6 лет является ведущим преподавателем Академии Тату. Проводит уникальные авторские мастер-классы по обучению перманентному макияжу. Владеет одной из самых сложных техник по исправлению и перекрытию старых и некачественных работ по татуажу. Работала на Fashion показах и студийных фотосессиях для журналов и видеоклипов.
                p 2003г .- авторский мастер класс Виктории Антибуры. Диплом премиум клуба «Favorit».
                p 2005г. - Диплом Союза Визажистов.
                p 2006г. - Диплом школы перманентного макияжа «TERRAVIVA» (Италия)
                p 2007г. - авторский мастер-класс: «Карандашная техника коррекция лица, вечерний и возрастной макияж»
                p 2007г. - обучение перманентному макияжу школа «My Style» (Германия) по технике исполнения на зонах: брови, веки, губы.
                p 2010г. - диплом «My Style» (Италия) повышения квалификации «волосковая техника и техника шотирования в перманентном макияже бровей»
                p 2013г. - повышение квалификации «особенности выполнения перманентного макияжа в технике 3-D»
                p 2013г. - обучение мануальной методике.
                p с 2012г - участник выставок InterCHARM
              .service-slider__picture.service-slider__picture--no-gradient
                img(alt="" src='images/services/serviceSlider_master_1.png', srcset='images/services/serviceSlider_master_1.png 1x, images/services/serviceSlider_master_1@2x.png 2x')
      
      // SERVICE SLIDER
      .service-slider.service-slider--dark-bg
        .container.container--fluid.container--no-pad
          // single slide
          .service-slider__slide
            .service-slider__slide__wrapper.service-slider__slide__wrapper--reverse
              .service-slider__content
                .small-title Мастер татуажа Акатушева Ксения
                .service-slider__content__text 
                  p Дипломированный мастер по перманентному макияжу, член ассоциации Tattoo Artist, ведущий художник колорист. В любое время она проконсультирует по вопросам визажистики и цветометрии. Регулярно проводя профессиональные мастер-классы, пишет много тематических статей, опубликовывая их в печатных и электронных СМИ. Успешно подготавливает специалистов по художественной татуировке. Неоднократно участвовала во всероссийских тату-конвенциях. Помимо исправления и выведения некачественного перманентного макияжа выполняет сложные работы с эффектом 3-D технологий.
                  p 2003г .- авторский мастер класс Виктории Антибуры. Диплом премиум клуба «Favorit».
                  p 2005г. - Диплом Союза Визажистов.
                  p 2006г. - Диплом школы перманентного макияжа «TERRAVIVA» (Италия)
                  p 2007г. - авторский мастер-класс: «Карандашная техника коррекция лица, вечерний и возрастной макияж»
                  p 2007г. - обучение перманентному макияжу школа «My Style» (Германия) по технике исполнения на зонах: брови, веки, губы.
                  p 2010г. - диплом «My Style» (Италия) повышения квалификации «волосковая техника и техника шотирования в перманентном макияже бровей»
                  p 2013г. - повышение квалификации «особенности выполнения перманентного макияжа в технике 3-D»
                  p 2013г. - обучение мануальной методике.
                  p с 2012г - участник выставок InterCHARM
                  
              .service-slider__picture.service-slider__picture--no-gradient
                img(alt="" src='images/services/serviceSlider_master_2.png', srcset='images/services/serviceSlider_master_2.png 1x, images/services/serviceSlider_master_2@2x.png 2x')
                        
                
      // SERVICE MASTERS  
      .container.container--fluid.container--no-pad
        // row
        .row.row--condenced.row--stretch-child.row--reverse.mt25.row--column--tablet.bg-black
          .col.col--3-6.img-v-fluid
            .master__image
              picture
                img(alt="" src='images/masterModalPicture.png', srcset='images/masterModalPicture.png 1x, images/masterModalPicture@2x.png 2x')
            
          .col.col--3-6
            .grid-text
              .master__content
                .master__content__row.row--aic
                  .master__content__image
                    picture
                      img(alt="" src='images/homepageMasterCircle6.png', srcset='images/homepageMasterCircle6.png 1x, images/homepageMasterCircle6@2x.png 2x')
                  .master__content__scope
                    .master__content__scope__name Борис
                    a(href='#').hoverable-link Мастер пирсинга
                    
                .master__content__row.mt40.mt20--mobile
                  .master__content__scope
                    .master__content__scope__name Стиль
                    a(href='#').hoverable-link дотворк, лайнворк, полинезия
                  .master__content__scope
                    .master__content__scope__name опыт работы
                    a(href='#').hoverable-link 15 лет
                
                .master__content__row.mt40.mt0--mobile
                  .master__content__scope
                    .master__content__scope__name любимая краска
                    a(href='#').hoverable-link Intense
                  .master__content__scope
                    .master__content__scope__name марка машинки
                    a(href='#').hoverable-link Mustang
                      
                .fz14.mt40.hidden--mobile
                  p Тату – это способ самовыражения, это образ мышления и образ жизни! Татуировки на руках, ногах, теле, лице, веках, губах, ушах на коже между пальцев – ее можно сделать  где угодно.

                .text-center.mt30.mt10--mobile
                  a(href='#').btn.btn--ghost Узнать подробнее

      // MASTER PORTFOLIO SECTION
      .master-portfolio.light-bg
        .master-portfolio__head
          .small-title Примеры татуажа
          .master-portfolio__head__nav
            i.ico.ico-nav-arrow
            i.ico.ico-nav-arrow.ico-nav-arrow--right
        .master-portfolio__slider.popup-gallery
          a(href='images/masters/masterWork_1@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_1.png', srcset='images/masters/masterWork_1.png 1x, images/masters/masterWork_1@2x.png 2x')
          a(href='images/masters/masterWork_2@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_2.png', srcset='images/masters/masterWork_2.png 1x, images/masters/masterWork_2@2x.png 2x')
          a(href='images/masters/masterWork_3@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_3.png', srcset='images/masters/masterWork_3.png 1x, images/masters/masterWork_3@2x.png 2x')
          a(href='images/masters/masterWork_4@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_4.png', srcset='images/masters/masterWork_4.png 1x, images/masters/masterWork_4@2x.png 2x')
          a(href='images/masters/masterWork_5@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_5.png', srcset='images/masters/masterWork_5.png 1x, images/masters/masterWork_5@2x.png 2x')
          a(href='images/masters/masterWork_6@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_6.png', srcset='images/masters/masterWork_6.png 1x, images/masters/masterWork_6@2x.png 2x')
          a(href='images/masters/masterWork_3@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_3.png', srcset='images/masters/masterWork_3.png 1x, images/masters/masterWork_3@2x.png 2x')
          a(href='images/masters/masterWork_4@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_4.png', srcset='images/masters/masterWork_4.png 1x, images/masters/masterWork_4@2x.png 2x')
          a(href='images/masters/masterWork_5@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_5.png', srcset='images/masters/masterWork_5.png 1x, images/masters/masterWork_5@2x.png 2x')
          a(href='images/masters/masterWork_6@2x.png').master-portfolio__slider__item
            img(alt="" src='images/masters/masterWork_6.png', srcset='images/masters/masterWork_6.png 1x, images/masters/masterWork_6@2x.png 2x')
        a(href='#').btn.btn--ghost.mt40 Перейти к галерее
        
      // SERVICE BENEFITS
      .service-benefits
        .container.container--full
          .small-title Техники перманентного макияжа
        .service-benefits__wrapper
          // card
          a(href='#').service-benefits__card
            img(alt="" src='images/services/serviceBenefits_5.png')
            .service-benefits__card__content
              .service-benefits__card__right
                .service-benefits__card__name "Пудровые" брови
                .service-benefits__card__desc Дипломированный мастер по перманентному макияжу, член ассоциации Tattoo Artist, ведущий художник колорист.  Подробнее...
          // card
          a(href='#').service-benefits__card
            img(alt="" src='images/services/serviceBenefits_6.png')
            .service-benefits__card__content
              .service-benefits__card__right
                .service-benefits__card__name Брови в технике "волосок к волоску"
                .service-benefits__card__desc Вы можете прочитать отзывы наших клиентов и убедиться в этом ;)
          // card
          a(href='#').service-benefits__card
            img(alt="" src='images/services/serviceBenefits_7.png')
            .service-benefits__card__content
              .service-benefits__card__right
                .service-benefits__card__name Брови в технике SofTap
                .service-benefits__card__desc Только одноразовые расходные материалы, уровень стерильности  соответствует самому жесткому стандарту ЕС!
          // card
          a(href='#').service-benefits__card
            img(alt="" src='images/services/serviceBenefits_8.png')
            .service-benefits__card__content
              .service-benefits__card__right
                .service-benefits__card__name Mикронидлинг
                .service-benefits__card__desc Разработка эскиза любой сложности в кратчайшие сроки Бесплатно!
          // card
          a(href='#').service-benefits__card
            img(alt="" src='images/services/serviceBenefits_9.png')
            .service-benefits__card__content
              .service-benefits__card__right
                .service-benefits__card__name Микроблейдинг 6D
                .service-benefits__card__desc Только одноразовые расходные материалы, уровень стерильности  соответствует самому жесткому стандарту ЕС!
          // card
          a(href='#').service-benefits__card
            img(alt="" src='images/services/serviceBenefits_10.png')
            .service-benefits__card__content
              .service-benefits__card__right
                .service-benefits__card__name Mикронидлинг
                .service-benefits__card__desc Разработка эскиза любой сложности в кратчайшие сроки Бесплатно!


      // SERVICE PRICE 
      .service-price
        .container.container--full
          .small-title Цены
        .container.container--1280
          .service-price__wrapper.slick-custom-dots
            // price card
            a(href='#').service-price__card
              .service-price__card__image
                i.ico.ico-eye(data-action='#')
                img(alt="" src='images/services/servicePrice_permanent_1.png')
                .service-price__card__name Татуаж <br>  губ
              .service-price__card__price от 1 000 руб
            // price card
            a(href='#').service-price__card
              .service-price__card__image
                i.ico.ico-eye(data-action='#')
                img(alt="" src='images/services/servicePrice_permanent_2.png')
                .service-price__card__name Татуаж <br> бровей
              .service-price__card__price от 9 500 руб  
            // price card
            a(href='#').service-price__card
              .service-price__card__image
                i.ico.ico-eye(data-action='#')
                img(alt="" src='images/services/servicePrice_permanent_3.png')
                .service-price__card__name Татуаж <br> век
              .service-price__card__price от 6 000 руб
            // price card
            a(href='#').service-price__card
              .service-price__card__image
                i.ico.ico-eye(data-action='#')
                img(alt="" src='images/services/servicePrice_permanent_4.png')
                .service-price__card__name Другие виды <br> татуажа
              .service-price__card__price 3 000 руб 
                                            
      // TESTIMONIALS SECTION
      .testimonials
        .container.container--fluid.container--no-pad
        // slick slider
        .testimonials__slider.slick-custom-dots
          // single slide
          .testimonials__slide
            .testimonials__slide__wrapper
              .testimonials__content
                .small-title Отзывы клиентов
                .testimonials__actions
                  a(href='#' data-toggle='testimonial').active
                    i.ico.ico-photo-camera
                    span Фото работы
                  a(href='#' data-toggle='master')
                    i.ico.ico-user-group
                    span Фото с мастером
                        
                .testimonials__text Хочется выразить огромную благодарность мастеру Павлу! Это реально мастер своего дела!!! Все прошло спокойно и практически безболезненно!  Это была первая моя татуировка, но я уверена, что приду еще и обязательно буду  рекомендовать Ваш салон своим друзьям и знакомым!  Улыбайся! ;)
                .testimonials__author Екатерина Иванова
                .testimonials__cta
                    a(href='#modalFeedback').btn.btn--ghost.popup-with-zoom-anim Оставить отзыв
                .testimonials__nav
                  
                
              .testimonials__picture
                picture
                  img(data-type='testimonial' src='images/testimonialsPic.png', srcset='images/testimonialsPic.png 1x, images/testimonialsPic@2x.png 2x').active
                  img(data-type='master' src='images/homepageGallery3.png', srcset='images/homepageGallery3.png 1x, images/homepageGallery3@2x.png 2x')
                  
          // single slide
          .testimonials__slide
            .testimonials__slide__wrapper
              .testimonials__content
                .small-title Отзывы клиентов
                .testimonials__actions
                  a(href='#' data-toggle='testimonial').active
                    i.ico.ico-photo-camera
                    span Фото работы
                  a(href='#' data-toggle='master')
                    i.ico.ico-user-group
                    span Фото с мастером
                        
                .testimonials__text Хочется выразить огромную благодарность мастеру Павлу! Это реально мастер своего дела!!! Все прошло спокойно и практически безболезненно!  Это была первая моя татуировка, но я уверена, что приду еще и обязательно буду  рекомендовать Ваш салон своим друзьям и знакомым!  Улыбайся! ;)
                .testimonials__author Екатерина Иванова
                .testimonials__cta
                    a(href='#modalFeedback').btn.btn--ghost.popup-with-zoom-anim Оставить отзыв
                .testimonials__nav
                
              .testimonials__picture
                picture
                  img(data-type='testimonial' src='images/testimonialsPic.png', srcset='images/testimonialsPic.png 1x, images/testimonialsPic@2x.png 2x').active
                  img(data-type='master' src='images/homepageGallery3.png', srcset='images/homepageGallery3.png 1x, images/homepageGallery3@2x.png 2x')

    
    include shared/promo-block.pug
    include shared/footer-seo.pug                  
    include shared/footer.pug
    include shared/modals.pug
    include shared/scripts.pug
