doctype html
<!--[if IE 8]>         <html class="ie8 oldie"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 oldie"> <![endif]-->
<!--[if gt IE 9]><!--> <html class=""> <!--<![endif]-->
  include shared/head.pug

  body
    include shared/header.pug
    include shared/menu.pug
    
    .page.page--testimonials
      .container.container--1280
        .section-title Отзывы            
        .breadcrumbs
          a(href='#') Главная
          a(href='#') Эскизы
        
        // TOP FILTER
        .images-category
          .images-category__item Татуировка
          .images-category__item Исправление
          .images-category__item Пирсинг
          .images-category__item Татуаж
          .images-category__item Био-тату
        
        a(href='#modalFeedback').btn.btn--ghost.popup-with-zoom-anim.mt60.mt20--mobile Оставить отзыв
      
      .container.container--fluid.container--no-pad.mt60.mt30--mobile
        // TESTIMONIALS INNER
        .testimonials.testimonials--inner
          // single slide
          .testimonials__slide
            .testimonials__slide__wrapper
              .testimonials__content
                .testimonials__actions
                  a(href='#' data-toggle='testimonial').active
                    i.ico.ico-photo-camera
                    span Фото работы
                  a(href='#' data-toggle='master')
                    i.ico.ico-user-group
                    span Фото с мастером
                .testimonials__text Хочется выразить огромную благодарность мастеру Павлу! Это реально мастер своего дела!!! Все прошло спокойно и практически безболезненно!  Это была первая моя татуировка, но я уверена, что приду еще и обязательно буду  рекомендовать Ваш салон своим друзьям и знакомым!  Улыбайся! ;)
                .testimonials__author Екатерина Иванова
                  
                
              .testimonials__picture
                picture
                  img(data-type='testimonial' src='images/testimonialsPic.png', srcset='images/testimonialsPic.png 1x, images/testimonialsPic@2x.png 2x').active
                  img(data-type='master' src='images/homepageGallery3.png', srcset='images/homepageGallery3.png 1x, images/homepageGallery3@2x.png 2x')
                  
          // single slide
          .testimonials__slide
            .testimonials__slide__wrapper
              .testimonials__content
                .testimonials__actions
                  a(href='#' data-toggle='testimonial').active
                    i.ico.ico-photo-camera
                    span Фото работы
                  a(href='#' data-toggle='master')
                    i.ico.ico-user-group
                    span Фото с мастером
                        
                .testimonials__text Хочется выразить огромную благодарность мастеру Павлу! Это реально мастер своего дела!!! Все прошло спокойно и практически безболезненно!  Это была первая моя татуировка, но я уверена, что приду еще и обязательно буду  рекомендовать Ваш салон своим друзьям и знакомым!  Улыбайся! ;)
                .testimonials__author Екатерина Иванова
                
              .testimonials__picture
                picture
                  img(data-type='testimonial' src='images/testimonialsPic.png', srcset='images/testimonialsPic.png 1x, images/testimonialsPic@2x.png 2x').active
                  img(data-type='master' src='images/homepageGallery3.png', srcset='images/homepageGallery3.png 1x, images/homepageGallery3@2x.png 2x')
          
          // single slide
          .testimonials__slide
            .testimonials__slide__wrapper
              .testimonials__content
                .testimonials__actions
                  a(href='#' data-toggle='testimonial').active
                    i.ico.ico-photo-camera
                    span Фото работы
                  a(href='#' data-toggle='master')
                    i.ico.ico-user-group
                    span Фото с мастером
                        
                .testimonials__text Хочется выразить огромную благодарность мастеру Павлу! Это реально мастер своего дела!!! Все прошло спокойно и практически безболезненно!  Это была первая моя татуировка, но я уверена, что приду еще и обязательно буду  рекомендовать Ваш салон своим друзьям и знакомым!  Улыбайся! ;)
                .testimonials__author Екатерина Иванова
                
              .testimonials__picture
                picture
                  img(data-type='testimonial' src='images/testimonialsPic.png', srcset='images/testimonialsPic.png 1x, images/testimonialsPic@2x.png 2x').active
                  img(data-type='master' src='images/homepageGallery3.png', srcset='images/homepageGallery3.png 1x, images/homepageGallery3@2x.png 2x')
          
          // single slide
          .testimonials__slide
            .testimonials__slide__wrapper
              .testimonials__content
                .testimonials__actions
                  a(href='#' data-toggle='testimonial').active
                    i.ico.ico-photo-camera
                    span Фото работы
                  a(href='#' data-toggle='master')
                    i.ico.ico-user-group
                    span Фото с мастером
                .testimonials__text Хочется выразить огромную благодарность мастеру Павлу! Это реально мастер своего дела!!! Все прошло спокойно и практически безболезненно!  Это была первая моя татуировка, но я уверена, что приду еще и обязательно буду  рекомендовать Ваш салон своим друзьям и знакомым!  Улыбайся! ;)
                .testimonials__author Екатерина Иванова
                  
                
              .testimonials__picture
                picture
                  img(data-type='testimonial' src='images/testimonialsPic.png', srcset='images/testimonialsPic.png 1x, images/testimonialsPic@2x.png 2x').active
                  img(data-type='master' src='images/homepageGallery3.png', srcset='images/homepageGallery3.png 1x, images/homepageGallery3@2x.png 2x')
                  
          // single slide
          .testimonials__slide
            .testimonials__slide__wrapper
              .testimonials__content
                .testimonials__actions
                  a(href='#' data-toggle='testimonial').active
                    i.ico.ico-photo-camera
                    span Фото работы
                  a(href='#' data-toggle='master')
                    i.ico.ico-user-group
                    span Фото с мастером
                        
                .testimonials__text Хочется выразить огромную благодарность мастеру Павлу! Это реально мастер своего дела!!! Все прошло спокойно и практически безболезненно!  Это была первая моя татуировка, но я уверена, что приду еще и обязательно буду  рекомендовать Ваш салон своим друзьям и знакомым!  Улыбайся! ;)
                .testimonials__author Екатерина Иванова
                
              .testimonials__picture
                picture
                  img(data-type='testimonial' src='images/testimonialsPic.png', srcset='images/testimonialsPic.png 1x, images/testimonialsPic@2x.png 2x').active
                  img(data-type='master' src='images/homepageGallery3.png', srcset='images/homepageGallery3.png 1x, images/homepageGallery3@2x.png 2x')
          
          // single slide
          .testimonials__slide
            .testimonials__slide__wrapper
              .testimonials__content
                .testimonials__actions
                  a(href='#' data-toggle='testimonial').active
                    i.ico.ico-photo-camera
                    span Фото работы
                  a(href='#' data-toggle='master')
                    i.ico.ico-user-group
                    span Фото с мастером
                        
                .testimonials__text Хочется выразить огромную благодарность мастеру Павлу! Это реально мастер своего дела!!! Все прошло спокойно и практически безболезненно!  Это была первая моя татуировка, но я уверена, что приду еще и обязательно буду  рекомендовать Ваш салон своим друзьям и знакомым!  Улыбайся! ;)
                .testimonials__author Екатерина Иванова
                
              .testimonials__picture
                picture
                  img(data-type='testimonial' src='images/testimonialsPic.png', srcset='images/testimonialsPic.png 1x, images/testimonialsPic@2x.png 2x').active
                  img(data-type='master' src='images/homepageGallery3.png', srcset='images/homepageGallery3.png 1x, images/homepageGallery3@2x.png 2x')
      
      .container.container--1280
        // PAGINTAION
        a(href='#').btn.btn--ghost.btn--block.btn--no-br Показать еще
        
        // list
        .pagination-full
          .pagination-full__prev
            a(href='#') 
              i.ico.ico-nav-left
          ul.pagination-full__list
            li.active
              a(href='#') 1
            li
              a(href='#') 2
            li
              a(href='#') 3
            li
              a(href='#') 4
            li
              a(href='#') 5
            li
              span ...
            li
              a(href='#') 65
          .pagination-full__next
            a(href='#') 
              i.ico.ico-nav-right

      
    include shared/footer.pug
    include shared/modals.pug
    include shared/scripts.pug
